@use "../mixins";

.about {

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 50px;
  }

  &__container {
    z-index: 5;
    color: black;
  }

  &__slider {
    position: relative;

    z-index: 5;

    margin-bottom: 30px;
  }

  &__item-arrow {
    position: absolute;
    top: 80px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-white);

    z-index: 10;
  }

  &__item-arrow--left {
    left: 0;
  }

  &__item-arrow--right {
    right: 0;

    transform: scale(-1, 1);
  }

  &__slider-item {
    background-color: var(--color-viking);
    border-radius: 0px 0px 15px 15px;
  }

  &__item-inner {
    padding: 10px;
  }

  &__item-image {

  }

  &__item-img {
    @include mixins.respond-to(mobileOnly) {
      width: 320px;
      height: auto;
    }
  }

  &__item-title {
    position: relative;

    font-weight: 500;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 130%;

      padding-bottom: 20px;
      margin: 0 0 30px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__item-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
  }

  &__tabs {

    margin-bottom: 30px;

    &-nav {
      display: flex;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;

        margin-bottom: 30px;
      }
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-catskill-white);
    border: 1px solid var(--color-ghost);
    box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-shuttle-gray);

    padding: 10px 30px 10px 30px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--active {
      background-color: var(--color-scooter);
      color: var(--color-white);
    }
  }

  &__tabs-item {
    display: none;
  }

  &__tabs-item:target {
    display: block;
  }

  &__tabs-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 20px;
  }

  &__tabs-list {
    display: flex;
    flex-direction: column;
  }

  &__tabs-value {
    position: relative;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;

    @include mixins.respond-to(mobileOnly) {
      padding-left: 30px;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;

      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-color: var(--color-tangerine);
      border-radius: 50%;
      border: 3px solid var(--color-monza);
    }
  }

  &__motto {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: -webkit-image-set(
      url('../img/image/design/X2-motto-background.png') 2x,
      url('../img/image/design/motto-background.png') 1x
  );
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;

    @include mixins.respond-to(mobileOnly) {
      padding: 10px;
    }

    &-title {
      font-weight: 500;
      @include mixins.respond-to (mobileOnly) {
        font-size: 25px;
      }
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: var(--color-white);

      margin-bottom: 15px;
    }

    &-info {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: var(--color-white);
    }
  }
}