@use "../mixins";

.about {

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 50px;
  }

  &__container {
    z-index: 5;
  }

  //Стили для блока со слайдером в блоке about

  &__info-block  {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-viking);
    border-radius: 15px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 30px;
    }

    @include mixins.respond-to(desktopS) {
      flex-direction: row;
    }
  }

  &__info-slider {
    max-width: 100%;

    margin-bottom: 30px;
  }

  &__slider-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__info-body {
    display: flex;
    flex-direction: column;

    padding: 0 10px 20px 10px;
  }

  &__info-title {
    position: relative;

    font-weight: 500;
    font-size: 30px;
    line-height: 70px;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 24px;
      line-height: 130%;

      padding-bottom: 20px;
      margin: 0 0 30px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__info-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
  }

  &__info-part {
    display: inline-block;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__slider-left, .about__slider-right {
    position: absolute;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: url("../../img/image/design/arrow.svg") var(--color-white);
    background-position: center;
    background-size: 12px 20px;
    background-repeat: no-repeat;
    border: 1px solid var(--color-scooter);

    z-index: 10;
  }

  &__slider-left {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
  }

  &__slider-right {
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    right: 0;
  }

  //Стили для блока с табами в блоке about

  &__tabs {

    display: flex;
    flex-wrap: wrap;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid var(--color-ghost);
      box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
      border-radius: 8px;

      transition: 0.2s;

      padding: 10px 0 10px 0;

      @include mixins.respond-to(mobileOnly) {
        margin-bottom: 15px;
      }
    }

    &-button--4 {
      margin-bottom: 0;
    }

    &-body {
      @include mixins.respond-to(mobileOnly) {
        margin-top: 30px;
      }
    }

    &-item {
      display: none;
    }

    &-title {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      text-transform: uppercase;
      color: var(--color-black);
    }

    &-list {
      display: flex;
      flex-direction: column;

      @include mixins.respond-to(mobileOnly) {
        margin: 20px 0 30px 0;
      }
    }

    &-value {
      position: relative;

      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-black);

      padding-left: 30px;

      &::before {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
  
        width: 15px;
        height: 15px;
        box-sizing: border-box;
        background-color: var(--color-tangerine);
        border-radius: 50%;
        border: 3px solid var(--color-monza);
      }

      @include mixins.respond-to(mobileOnly) {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__radio-hidden:checked + .about__tabs-button {
    background-color: var(--color-scooter);

    color: var(--color-white);

    transition: 0.2s;
  }

  #tabs-radio-1:checked ~ .about__tabs-body .about__tabs-radio--1 {
    display: block;
  }
  #tabs-radio-2:checked ~ .about__tabs-body .about__tabs-radio--2 {
    display: block;
  }
  #tabs-radio-3:checked ~ .about__tabs-body .about__tabs-radio--3 {
    display: block;
  }
  #tabs-radio-4:checked ~ .about__tabs-body .about__tabs-radio--4 {
    display: block;
  }

  //Стили для блока motto в блоке about

  &__motto {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: -webkit-image-set(
      url('../img/image/design/X2-motto-background.png') 2x,
      url('../img/image/design/motto-background.png') 1x
  );
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);

      width: 30px;
      height: 30px;

      background-image: url("../../img/image/design/quotes.svg");
      background-position: center;
      background-size: 30px 30px;
      background-repeat: no-repeat;
    }

    @include mixins.respond-to(mobileOnly) {
      padding: 50px 10px 30px 10px;
    }

    &-title {
      position: relative;

      font-weight: 500;
      font-size: 30px;
      line-height: 34px;
      letter-spacing: 0.02em;
      color: var(--color-white);

      margin-bottom: 15px;

      @include mixins.respond-to (mobileOnly) {
        font-size: 25px;
      }
    }

    &-info {
      font-weight: 400;
      font-size: 18px;
      line-height: 150%;
      color: var(--color-white);
    }
  }
}