@use "../mixins";

.appointment {
  margin: 50px 0 50px 0;

  &__inner {
    background: var(--color-iceberg);
    border: 5px solid var(--color-white);
    border-radius: 15px;
    box-shadow: 0 0 0 1px var(--color-spindle);

    padding: 10px;
  }

  &__title {
    position: relative;

    font-size: 35px;

    padding-bottom: 20px;
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__type {
    margin-bottom: 30px;
  }

  &__type-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__type-body {
    display: flex;

    margin-top: 20px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-evenly;
      gap: 10px 10px;
    }
  }

  &__type-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    background: var(--color-white);
    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border-radius: 20px;

    text-align: center;

    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mixins.respond-to(tablet) {
      width: 32%;

      padding: 10px 5px 10px 5px;
      margin-bottom: 0;
    }
  }

  &__type-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;

    @include mixins.respond-to(tablet) {
      justify-content: space-between;
    }
  }

  &__breakpoint {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: inline;
    }
  }

  &__item-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__item-price {
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: var(--color-slate-gray);
  }

  &__shown-radio {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: red;
    }

    width: 30px;
    height: 30px;
    background-color: var(--color-viking);
    border-radius: 50%;

    border: 5px solid var(--color-scooter);

    margin-right: 10px;
  }

  &__check-icon {
    opacity: 0;

    transition: 0.2s;
  }

  &__hidden-radio:checked+.appointment__type-label .appointment__check-icon {
    opacity: 1;

    transition: opacity 0.1s;
  }

  &__hidden-radio:checked+.appointment__type-label .appointment__item-price {
    color: var(--color-monza);

    transition: color 0.1s;
  }

  &__info {
    display: flex;

    margin-bottom: 30px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      justify-content: space-between;
    }

  }

  &__info-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mixins.respond-to(tablet) {
      width: 32%;
    }
  }

  &__info-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 15px;
  }

  &__info-input {
    width: 100%;
    height: 50px;

    outline: none;
    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border: 0;
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    padding-left: 20px;

    &:focus {
      box-shadow: 0 0 0 1px var(--color-monza);
    }
  }

  &__attach {
    margin-bottom: 30px;

    @include mixins.respond-to(tablet) {
      margin-bottom: 10px;
    }
  }

  &__attach-caption {
    display: inline-block;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 15px;
  }

  &__attach-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__attach-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100px;
    height: 70px;

    border: 1px solid var(--color-ghost);
    border-radius: 5px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 100px;
    }

    @include mixins.respond-to(tablet) {
      margin: 0 65px 20px 0;
    }
  }

  &__button-caption {
    font-style: var(--font-family-loader);
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
    }
  }

  &__breakpoint {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: inline;
    }
  }

  &__attach-item {
    position: relative;

    width: 125px;
    height: fit-content;

    padding-right: 25px;

    @include mixins.respond-to(mobileOnly) {
      margin: 10px 10px 0 0;
    }

    @include mixins.respond-to(tablet) {
      margin: 0 40px 20px 0;
    }
  }

  &__attach-img {
    width: 100px;
    height: 70px;
    border: 1px solid var(--color-ghost);
    border-radius: 5px;
  }

  &__attach-cancel {
    position: absolute;
    top: 1px;
    right: 1px;

    width: 20px;
    height: 20px;
    background: url('../img/image/design/cross.svg') var(--color-white);
    background-size: 8px 8px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--color-mine-shaft);
    color: black;
    border-radius: 50%;
  }

  &__order-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 315px;
    height: 50px;

    @include mixins.respond-to(mobileOnly) {
      width: 215px;
      margin: 0 auto 30px auto;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 30px;
    }

    background: var(--color-monza);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__order-caption {
    font-family: var(--font-family-button);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);
    text-align: center;
  }

  &__terms {

    &-label {
      display: flex;
    }

    &-hidden:checked+label svg {
      opacity: 1;
    }

    &-shown {
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 20px;
      height: 20px;
      background-color: var(--color-scooter);
      border-radius: 5px;

      margin-right: 10px;
    }

    &-check {
      opacity: 0;
    }

    &-caption {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-black);
      color: black;
    }

    &-link {
      color: var(--color-scooter);
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--color-iceberg);
    border: 30px solid var(--color-white);
    border-radius: 15px;

    text-align: center;

    padding: 30px;

    @include mixins.respond-to(mobileOnly) {
      border: 10px solid var(--color-white);

      padding: 10px;
    } 
  }

  &__modal-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    margin-bottom: 10px;
  }

  &__modal-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black);

    margin-bottom: 10px;
  }

  &__modal-date {
    margin-bottom: 10px;
  }

  &__modal-date .datepicker-header {
    display: flex;
    align-items: center;

    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    padding: 30px 30px 0 30px;

    @include mixins.respond-to(mobileOnly) {
      padding: 15px 15px 0 15px;
    }
  }

  &__modal-date .datepicker-controls {
    display: inline-block !important;
    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    padding: 0 !important;
    margin: 0 !important;
  }

  &__modal-date .prev-btn, .next-btn {
    display: none;
  }

  &__modal-date .view-switch {
    position: relative;

    display: inline-block !important;
    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    text-align: left !important;

    padding: 0 !important;
    margin: 0 !important;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      width: 20px;
      height: 20px;
      background: url('../img/image/design/month-change.svg') var(--color-white);
      background-size: 20px 20px;
      background-repeat: no-repeat;
    }
  }

  &__modal-date .days-of-week {
    justify-content: space-between;

    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    padding: 0 !important;
    margin: 0 !important;
  }

  &__modal-date .dow {
    max-width: fit-content !important;
    max-height: fit-content !important;
    
    width: fit-content !important;
    height: fit-content !important;

    padding: 0 !important;
    margin: 0 !important;
  }

  &__modal-date .datepicker-footer {
    display: none;
  }

  &__modal-time {
    display: flex;
    flex-wrap: wrap;

    @include mixins.respond-to(mobileOnly) {
      gap: 10px 15px;
    }
  }
}