@use "../mixins";

.appointment {
  margin: 50px 0 50px 0;

  &__inner {
    background: var(--color-iceberg);
    border: 5px solid var(--color-white);
    border-radius: 15px;
    box-shadow: 0 0 0 1px var(--color-spindle);

    padding: 10px;
  }

  &__title {
    position: relative;

    font-size: 35px;

    padding-bottom: 20px;
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__type {
    margin-bottom: 30px;
  }

  &__type-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__type-body {
    display: flex;

    margin-top: 20px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      align-items: stretch;
      justify-content: space-between;
    }
  }

  &__type-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100px;
    background: var(--color-white);
    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border-radius: 20px;

    text-align: center;

    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mixins.respond-to(tablet) {
      width: 32%;

      padding: 10px 0 10px 0;
      margin-bottom: 0;
    }
  }

  &__type-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;

    @include mixins.respond-to(tablet) {
      justify-content: space-between;
    }
  }

  &__breakpoint {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: inline;
    }
  }

  &__item-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__item-price {
    font-weight: 500;
    font-size: 30px;
    line-height: 130%;
    color: var(--color-slate-gray);
  }

  &__shown-radio {
    display: flex;
    align-items: center;
    justify-content: center;

    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: red;
    }

    width: 30px;
    height: 30px;
    background-color: var(--color-viking);
    border-radius: 50%;

    border: 5px solid var(--color-scooter);

    margin-right: 10px;
  }

  &__check-icon {
    opacity: 0;

    transition: 0.2s;
  }

  &__hidden-radio:checked + .appointment__type-label .appointment__check-icon {
    opacity: 1;

    transition: opacity 0.1s;
  }

  &__hidden-radio:checked + .appointment__type-label .appointment__item-price {
    color: var(--color-monza);

    transition: color 0.1s;
  }

  &__info {
    display: flex;

    margin-bottom: 30px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      justify-content: space-between;
    }

  }

  &__info-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mixins.respond-to(tablet) {
      width: 32%;
    }
  }

  &__info-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 15px;
  }

  &__info-input {
    width: 100%;
    height: 50px;

    outline: none;
    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border: 0;
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    padding-left: 20px;

    &:focus {
      box-shadow: 0 0 0 1px var(--color-monza);
    }
  }

  &__attach {
    margin-bottom: 40px;

    @include mixins.respond-to(tablet) {
      margin-bottom: 30px;
    }
  }

  &__attach-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);
  }

  &__breakpoint--mobile {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: inline;
    }
  }

  &__attach-area {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    margin-top: 15px;
  }

  &__upload-shown {
    display: flex;
    align-items: center;
    flex-direction: column;

    background: var(--color-white);
    border: 1px solid var(--color-ghost);
    border-radius: 5px;

    padding: 15px 10px 10px 10px;
    margin-bottom: 30px;

    @include mixins.respond-to(tablet) {
      margin: 0;
    }
  }

  &__upload-icon {
    margin-bottom: 10px;
  }

  &__upload-caption {
    font-family: var(--font-family-loader);
    font-weight: 400;
    font-size: 11px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
    }

    line-height: 130%;
    color: var(--color-cod-gray);
  }

  &__attach-items {
    display: flex;
    align-items: center;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      margin-left: 10px;
    }
  }

  &__attached-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 136px;
    height: 82px;
    border: 1px solid var(--color-ghost);
    box-shadow: 0 4 21 rgba(0, 0, 0, 0.04);
    border-radius: 8px;

    color: var(--color-white);

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__order-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 315px;
    height: 50px;

    @include mixins.respond-to(mobileOnly) {
      width: 215px;
      margin: 0 auto 30px auto;
    }

    background: var(--color-monza);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__order-caption {
    font-family: var(--font-family-button);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);
    text-align: center;
  }

  &__terms {

    &-label {
      display: flex;
    }

    &-hidden:checked+label svg {
      opacity: 1;
    }

    &-shown {
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 20px;
      height: 20px;
      background-color: var(--color-scooter);
      border-radius: 5px;

      margin-right: 10px;
    }

    &-check {
      opacity: 0;
    }

    &-caption {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-black);
      color: black;
    }

    &-link {
      color: var(--color-scooter);
    }
  }

  &__modal {
    display: none;
  }
}