@use "../mixins";

.appointment {
  margin: 50px 0 50px 0;

  &__inner {
    background: var(--color-iceberg);
    border: 5px solid var(--color-white);
    border-radius: 15px;
    box-shadow: 0 0 0 1px var(--color-spindle);

    padding: 10px;

    @include mixins.respond-to(desktopS) {
      border: 9px solid var(--color-white);

      padding: 43px 63px 45px 58px;
      margin: 40px 0 50px 0;
    }
  }

  &__title {
    position: relative;

    font-size: 35px;

    padding-bottom: 20px;
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 24px;
    }

    @include mixins.respond-to(desktopS) {
      display: inline-block;
      width: fit-content;

      padding: 0 100px 0 0;
      margin: 0 0 10px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include mixins.respond-to(desktopS) {
        top: 55%;
        transform: translateY(-50%);
        bottom: auto;
        right: 0;
        left: auto;
      }
    }
  }

  &__type {
    margin-bottom: 30px;

    @include mixins.respond-to(desktopS) {
      margin-bottom: 24px;
    }
  }

  &__type-title {
    display: inline-block;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 17px;
  }

  &__type-body {
    display: grid;
		grid-gap: 20px;

		@include mixins.respond-to(tablet) {
			grid-template-columns: repeat(auto-fill, calc(50% - 10px));
		}

		@include mixins.respond-to(desktopS) {
			grid-template-columns: repeat(3, 1fr);
		}

		@include mixins.respond-to(desktopM) {
			grid-template-columns: repeat(auto-fit, minmax(25%, 314px));
			justify-content: space-between;
		}
  }

  &__type-item {
    background-color: var(--color-white);
    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
  }

  &__type-label {
		position: relative;
    display: flex;
		padding: 20px 60px 20px 60px;
		height: 100%;
  }

  &__type-radio {
		position: absolute;
		top: 20px;
		left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    width: 30px;
    height: 30px;
    background-color: var(--color-viking);
    border: 5px solid var(--color-scooter);
    border-radius: 50%;
  }

	&__type-caption {
		display: flex;
		flex-direction: column;
		width: 100%;
		text-align: center;
	}

  &__type-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--color-black);
  }

  &__type-price {
    font-weight: 500;
    font-size: 30px;
    line-height: 39px;
    color: var(--color-slate-gray);

    transition: color 0.1s;

    margin-top: auto;
  }

  &__check-icon {
    opacity: 0;

    transition: 0.2s;
  }

  &__hidden-type:checked ~ .appointment__type-radio .appointment__check-icon {
    opacity: 1;

    transition: opacity 0.1s;
  }

  &__hidden-type:checked ~ .appointment__type-caption .appointment__type-price {
    color: var(--color-monza);

    transition: color 0.1s;
  }

  &__info {
    display: flex;

    margin-bottom: 30px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      justify-content: space-between;
    }

    @include mixins.respond-to(desktopS) {
      justify-content: flex-start;

      margin-bottom: 10px;
    }
  }

  &__info-item {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mixins.respond-to(tablet) {
      width: 32%;
    }

    @include mixins.respond-to(tabletS) {
      width: auto;

      margin-right: 10px;
    }
  }

  &__info-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 15px;
  }

  &__info-input {
    width: 100%;
    height: 50px;

    outline: none;
    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border: 0;
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    padding-left: 20px;

    &:focus {
      box-shadow: 0 0 0 1px var(--color-monza);
    }

    @include mixins.respond-to(desktopS) {
      width: 300px;
    }
  }

  &__attach {
    margin-bottom: 30px;

    @include mixins.respond-to(tablet) {
      margin-bottom: 10px;
    }
  }

  &__attach-title {
    display: inline-block;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-black);

    margin-bottom: 15px;
  }

  &__attach-list {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
  }

  &__attach-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 100px;
    height: 70px;
    background-color: var(--color-white);
    border: 1px solid var(--color-ghost);
    border-radius: 5px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 100px;
    }

    @include mixins.respond-to(tablet) {
      margin: 0 65px 20px 0;
    }
  }

  &__button-caption {
    font-style: var(--font-family-loader);
    font-weight: 400;
    font-size: 11px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
    }
  }

  &__breakpoint {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: inline;
    }
  }

  &__attach-item {
    position: relative;

    width: 125px;
    height: fit-content;

    padding-right: 25px;

    @include mixins.respond-to(mobileOnly) {
      margin: 10px 10px 0 0;
    }

    @include mixins.respond-to(tablet) {
      margin: 0 40px 20px 0;
    }
  }

  &__attach-img {
    width: 100px;
    height: 70px;
    border: 1px solid var(--color-ghost);
    border-radius: 5px;
  }

  &__attach-cancel {
    position: absolute;
    top: 1px;
    right: 1px;

    width: 20px;
    height: 20px;
    background: url('../img/image/design/cross.svg') var(--color-white);
    background-size: 8px 8px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--color-mine-shaft);
    color: black;
    border-radius: 50%;
  }

  &__order-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 315px;
    height: 50px;

    @include mixins.respond-to(mobileOnly) {
      width: 215px;
      margin: 0 auto 30px auto;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 30px;
    }

    background: var(--color-monza);
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  &__order-caption {
    font-family: var(--font-family-button);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);
    text-align: center;
  }

  &__terms {

    &-label {
      display: flex;
    }

    &-hidden:checked+label svg {
      opacity: 1;
    }

    &-shown {
      display: flex;
      align-items: center;
      justify-content: center;

      min-width: 20px;
      height: 20px;
      background-color: var(--color-scooter);
      border-radius: 5px;

      margin-right: 10px;
    }

    &-check {
      opacity: 0;
    }

    &-title {
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--color-black);
      color: black;
    }

    &-link {
      color: var(--color-scooter);
    }
  }

  &__modal {
    position: absolute;
    top: -100%;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--color-white);
    border-radius: 15px;
    visibility: hidden;

    padding: 30px;

    z-index: 100;

    @include mixins.respond-to(mobileOnly) {
      width: 100vw;
      height: 100vh;
      background-color: rgb(0, 0, 0, 0.9);
      border-radius: 0;

      padding: 10px;
    }

    @include mixins.respond-to(tablet) {
      width: 100vw;
      height: 100vh;
      background-color: rgb(0, 0, 0, 0.9);
      border-radius: 0;

      padding: 30px;
    }
  }

  &__modal--opened {
    position: fixed;
    top: 0;
    left: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;

    visibility: visible;

    transition: all 0.3s;
  }

  &__modal-wrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-viking);
    border: 1px solid white;
    border-radius: 15px;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;

    padding: 30px;

    z-index: 150;

    @include mixins.respond-to(mobileOnly) {
      padding: 50px 10px 30px 10px;
    }
  }

  &__modal-close {
    position: fixed;
    top: 0;
    right: 0;

    width: 45px;
    height: 45px;
    background: url("../../img/image/design/cross.svg") var(--color-white);
    background-position: center;
    background-size: 17px 17px;
    background-repeat: no-repeat;
    border-radius: 50%;

    z-index: 200;

    @include mixins.respond-to(mobileOnly) {
      width: 25px;
      height: 25px;
      background-size: 12px 12px;
    }

    @include mixins.respond-to(tablet) {
      position: fixed;
      top: 25px;
      right: 25px;

      width: 25px;
      height: 25px;
      background-size: 12px 12px;
    }
  }

  &__modal-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-mine-shaft);

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 12px;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 12px;
    }
  }

  &__modal-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: var(--color-black);

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 12px;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 12px;
    }
  }

  &__modal-date {}

  &__modal-date .datepicker-picker {
    border-radius: 20px !important;
  }

  &__modal-date .datepicker-header {
    display: flex;
    align-items: center;

    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    padding: 30px 30px 0 30px;
    margin-bottom: 10px;

    @include mixins.respond-to(mobileOnly) {
      padding: 15px 15px 0 15px;
    }
  }

  &__modal-date .datepicker-main {
    padding: 0 !important;
  }

  &__modal-date .datepicker-controls {
    display: inline-block !important;
    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    padding: 0 !important;
    margin: 0 !important;
  }

  &__modal-date .prev-btn,
  .next-btn {
    display: none;
  }

  &__modal-date .view-switch {
    position: relative;

    display: inline-block !important;
    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;

    font-family: var(--font-family-date);
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-blue-dianne);
    text-align: left !important;

    padding: 0 !important;
    margin: 0 !important;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      width: 20px;
      height: 20px;
      background: url('../img/image/design/month-change.svg') var(--color-white);
      background-size: 20px 20px;
      background-repeat: no-repeat;
    }
  }

  &__modal-date .days-of-week {
    justify-content: space-between;

    max-height: fit-content !important;

    width: 100%;
    height: fit-content !important;
    border-bottom: 1px solid var(--color-bombay);

    margin: 0 !important;

    padding: 0 30px 10px 30px;

    @include mixins.respond-to(mobileOnly) {
      padding: 0 15px 10px 15px;
    }
  }

  &__modal-date .dow {
    max-width: fit-content !important;
    max-height: fit-content !important;

    width: fit-content !important;
    height: fit-content !important;

    font-family: var(--font-family-date);
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;

    padding: 0 !important;
    margin: 0 !important;
  }

  &__modal-date .disabled {
    color: var(--color-bombay);
  }

  &__modal-date .selected {
    background-color: var(--color-scooter) !important;
  }

  &__modal-date .datepicker-grid {
    @include mixins.respond-to(mobileOnly) {
      padding: 0 5px 15px 5px;
    }

    @include mixins.respond-to(tablet) {
      padding: 0 25px 30px 25px;
    }
  }

  &__modal-date .datepicker-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__modal-date .day {
    font-family: var(--font-family-date);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }

  &__modal-date .datepicker-footer {
    display: none;
  }

  &__modal-time {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    grid-gap: 25px 10px;

    margin: 12px 0 15px 0;

    @include mixins.respond-to(mobileOnly) {
      grid-gap: 20px 10px;
    }
  }

  &__time-radio {
    vertical-align: top;

    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black);
  }

  &__time-hidden:checked+.appointment__time-radio {
    color: var(--color-monza);
  }

  &__time-hidden:disabled+.appointment__time-radio {
    color: var(--color-ghost);
    pointer-events: none;
  }

  &__pricetag {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: var(--color-monza);

    margin-bottom: 15px;
  }

  &__form-submit {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #D60D0D;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    font-family: var(--font-family-button);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);

    padding: 10px 70px 10px 70px;
    margin-bottom: 10px;
  }

  &__form-reset {
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-white);
    border: 1px solid #BDBDBD;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    font-family: var(--font-family-button);
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-mine-shaft);

    padding: 10px 70px 10px 70px;
  }
}
