@use "../mixins";

.whatsup-ball {
  display: flex;
  align-items: center;
  justify-content: center;

  background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
  opacity: 1;
  border: 1px solid var(--color-scooter);
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);

  @include mixins.respond-to(desktopS) {
    opacity: 0.7;
    border: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-scooter);
    border-radius: 50%;
    opacity: 0.6;
  }
}

.phone-ball {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 65px;

  background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
  opacity: 1;
  border: 1px solid var(--color-scooter);
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);

  @include mixins.respond-to(desktopS) {
    opacity: 0.7;
    border: none;
  }
}