@use "../mixins";

.whatsup-ball {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);
  opacity: 0.7;

  transition: 0.3s;

  &:hover {
    transform: translateY(-20px);

    transition: 0.3s;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-scooter);
    border-radius: 50%;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
}

.phone-ball {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 65px;

  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);

  transition: 0.3s;

  &:hover {
    transform: translateY(-20px);

    transition: 0.3s;
  }
}