@use "../mixins";

.diplomas {

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 50px;
  }

  @include mixins.respond-to(tablet) {
    margin-bottom: 50px;
  }

  &__title {
    position: relative;

    font-size: 42px;
    letter-spacing: 0.02em;

    padding-bottom: 20px;
    margin: 0 0 30px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 23px;
    }

    @include mixins.respond-to(tablet) {
      display: inline-block;
      
      width: fit-content;

      padding: 0 100px 0 0;
      margin: 0 0 40px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      @include mixins.respond-to(tablet) {
        top: 50%;
        transform: translateY(-50%);
        left: auto;
        right: 0;
      }
    }
  }

  &__slider {
    padding-bottom: 40px;
  }

  &__slider-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-white);
  }

  &__slider-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;

    border-radius: 5px;
    background-color: var(--color-scooter);

    transition: 0.2s;

    @include mixins.respond-to(mobileOnly) {
      width: 25px;
      height: 25px;
    }
  }

  &__slider-icon {
    transition: 0.2s;
  }

  &__slider .swiper-button-disabled {
    background-color: var(--color-white);
    opacity: 0.5;

    transition: background-color 0.2s;
  }

  &__slider .swiper-button-disabled .diplomas__slider-icon {
    fill: var(--color-scooter);

    transition: fill 0.2s;
  }
}