@use "../mixins";

.faq {

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 50px;
  }

  &__container {
    display: flex;

    background-color: var(--color-viking);
    border-radius: 15px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;

      padding: 20px 10px 20px 10px;
    }
  }

  &__main {
    order: 1;

    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }
  }

  &__title {
    position: relative;

    font-size: 35px;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;

      padding-bottom: 20px;
      margin: 0 0 30px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  // Стили для спойлеров в блоке faq
  &__spoilers {

    margin-bottom: 35px;

    &-item {

      background-color: var(--color-white);
      border-radius: 5px;

      @include mixins.respond-to(mobileOnly) {
        width: 100%;

        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      padding: 13px;

      @include mixins.respond-to(mobileOnly) {
        flex-direction: column;

        width: 100%;
      }
    }

    &-caption {

      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: variables(--color-black);

      @include mixins.respond-to(mobileOnly) {
        align-self: center;

        text-align: center;

        margin-bottom: 15px;
      }
    }

    &-cross {
      position: relative;

      width: 15px;
      height: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        width: 100%;
        height: 5px;
        background-color: var(--color-ghost);
        border-radius: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: 0;

        width: 100%;
        height: 5px;
        background-color: var(--color-ghost);
        border-radius: 2px;

        transition: 0.2s;
      }

      @include mixins.respond-to(mobileOnly) {
        width: 30px;
        height: 30px;
      }
    }

    &-content {
      display: none;

      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-black);

      padding: 0 13px 13px 13px;
    }

  }

  &__check-hidden:checked ~ .faq__spoilers-content {
    display: block;
  }

  &__check-hidden:checked + .faq__spoilers-button .faq__spoilers-cross::after {
    transform: translateY(-2px) rotate(180deg);
    transition: rotate, 0.2s;
  }

  &__order-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 315px;

    @include mixins.respond-to(mobileOnly) {
      width: 220px;

      margin: 0 auto;
    }
  }


  &__aside {
    order: 2;

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      margin-bottom: 30px;
    }
  }

  &__aside-inner {
    position: relative;

    @include mixins.respond-to(mobileOnly) {
      width: fit-content;
      height: auto;
    }
  }

  &__aside-img {
    display: block;

    height: auto;

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      width: 280px;
    }
  }

  &__whatsup-ball {
    position: absolute;

    width: 100px;
    height: 100px;

    @include mixins.respond-to(mobileOnly) {
      bottom: 0;
      right: 0;

      width: 65px;
      height: 65px;
    }
  }

  & .whatsup-ball__inner {
    width: 55px;
    height: 55px;

    @include mixins.respond-to(mobileOnly) {
      width: 35px;
      height: 35px;
    }
  }

  & .whatsup-ball__icon {
    width: 20px;
    height: 20px;
  }

  &__phone-ball {
    position: absolute;

    @include mixins.respond-to(mobileOnly) {
      top: 0;
      left: 0;
    }
  }
}