@use "../mixins";

.faq {

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 50px;
  }

  @include mixins.respond-to(tablet) {
    margin-bottom: 50px;
  }

  &__container {
    display: grid;
    grid-template: 290px 1fr / 1fr;
    grid-row-gap: 30px;
    align-items: center;
    justify-items: center;

    background-color: var(--color-viking);
    border-radius: 15px;

    @include mixins.respond-to(mobileOnly) {
      padding: 10px 10px 20px 10px;
    }

    @include mixins.respond-to(tablet) {
      grid-template: 350px 1fr / 1fr;

      padding: 20px 0 20px 0;
    }

    @include mixins.respond-to(desktopD) {
      grid-template: auto / auto 559px;
      align-items: center;
      grid-gap: 35px;
    }
  }

  &__main {
    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }

    @include mixins.respond-to(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 10px 0 10px 10px;

      order: 2;
    }

    @include mixins.respond-to(desktopD) {
      order: 1;
    }
  }

  &__title {
    position: relative;

    color: var(--color-white) !important;

    padding-bottom: 20px;
    margin: 0 0 30px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include mixins.respond-to(tablet) {
      align-self: flex-start;
    }
  }

  &__spoilers {
    display: flex;
    flex-direction: column;

    margin-bottom: 35px;

    &-item {
      flex-grow: 0;

      background-color: var(--color-white);
      border-radius: 5px;

      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      @include mixins.respond-to(mobileOnly) {
        width: 100%;

        margin-bottom: 20px;
      }

      @include mixins.respond-to(tabletOnly) {
        width: 490px;
      }

      @include mixins.respond-to(desktopS) {
        width: 100%;
      }
    }

    &-button {
      display: grid;
      grid-template: 1fr / 1fr 15px;
      grid-column-gap: 20px;
      align-items: center;

      padding: 10px;

      @include mixins.respond-to(mobileOnly) {
        width: 100%;
      }

      @include mixins.respond-to(tablet) {
        padding: 15px 25px 15px 25px;
      }
    }

    &-caption {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-black);
    }

    &-cross {
      position: relative;

      flex-shrink: 0;

      width: 15px;
      height: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;

        width: 100%;
        height: 2px;
        background-color: var(--color-ghost);
        border-radius: 2px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        left: 0;

        width: 100%;
        height: 2px;
        background-color: var(--color-ghost);
        border-radius: 2px;

        transition: 0.2s;
      }
    }

    &-content {
      display: none;

      max-width: 100%;
      border-top: 1px solid var(--color-ghost);

      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-black);

      padding: 10px 50px 10px 50px;
    }

  }

  &__check-hidden:checked~.faq__spoilers-content {
    display: block;
  }

  &__check-hidden:checked+.faq__spoilers-button .faq__spoilers-cross::after {
    transform: translateY(-1px) rotate(180deg);
    transition: rotate, 0.2s;
  }

  &__order-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 315px;

    @include mixins.respond-to(mobileOnly) {
      width: 220px;

      margin: 0 auto;
    }
  }

  &__aside {
    @include mixins.respond-to(mobileOnly) {
      order: 1;
    }

    @include mixins.respond-to(tablet) {
      order: 1;
    }

    @include mixins.respond-to(desktopD) {
      order: 2;
    }
  }

  &__aside-inner {
    position: relative;

    @include mixins.respond-to(mobileOnly) {
      width: fit-content;
      height: auto;
    }

    @include mixins.respond-to(tablet) {
      left: auto;
      right: -20px;
    }
  }

  &__aside-image {
    @include mixins.respond-to(tablet) {
      position: relative;
    }
  }

  &__aside-img {
    display: block;

    max-width: 100%;
    height: auto;

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      width: 280px;
    }

    @include mixins.respond-to(tablet) {
      width: 350px;
    }

    @include mixins.respond-to(desktopD) {
      width: 559px;
    }
  }

  &__whatsup-ball {
    position: absolute;

    width: 100px;
    height: 100px;

    @include mixins.respond-to(mobileOnly) {
      bottom: 0;
      right: 0;

      width: 65px;
      height: 65px;
    }

    @include mixins.respond-to(tablet) {
      bottom: 0;
      right: 0;

      width: 65px;
      height: 65px;
    }
  }

  & .whatsup-ball__inner {
    width: 55px;
    height: 55px;

    @include mixins.respond-to(mobileOnly) {
      width: 35px;
      height: 35px;
    }

    @include mixins.respond-to(tablet) {
      width: 35px;
      height: 35px;
    }
  }

  & .whatsup-ball__icon {
    width: 20px;
    height: 20px;
  }

  &__phone-ball {
    position: absolute;

    @include mixins.respond-to(mobileOnly) {
      top: 0;
      left: 0;
    }

    @include mixins.respond-to(tablet) {
      top: 0;
      left: 0;
    }
  }
}