@use "../mixins";

.footer-underline {
  min-height: 90px;

  z-index: 5;

  @include mixins.respond-to(mobileOnly) {
    padding: 20px 0 20px 0;
  }

  @include mixins.respond-to(tablet) {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
  }

  &__container {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tablet) {
      align-items: center;
      justify-content: space-between;
    }

    @include mixins.respond-to(desktopS) {
      padding: 0 50px 0 50px;
    }
  }

  &__policy-link {
    font-family: var(--font-family-footer) !important;
    font-weight: 400;
    color: var(--color-mid-gray);

    transition: 0.1s;

    &:hover {
      color: var(--color-monza);

      transition: 0.1s;
    }

    &:focus-visible {
      outline: solid var(--color-monza);
      outline-offset: 5px;

      transition: all 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 130%;

      margin-bottom: 20px;
    }

    @include mixins.respond-to(tablet) {
      font-size: 16px;
      line-height: 130%;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__copyright {
    font-family: var(--font-family-footer) !important;
    font-weight: 400;
    color: var(--color-mid-gray);

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 130%;

      margin-bottom: 20px;
    }

    @include mixins.respond-to(tablet) {
      font-size: 16px;
      line-height: 130%;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__credits-link {
    display: flex;
    align-items: center;

    transition: 0.1s;
  }

  &__credits-caption {
    font-family: var(--font-family-footer) !important;
    font-weight: 400;
    color: var(--color-mid-gray);

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;
      line-height: 130%;
    }

    @include mixins.respond-to(tablet) {
      font-size: 16px;
      line-height: 130%;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 10px;
      line-height: 12px;

      margin-right: 10px;
    }
  }

  &__credits-icon {
    transition: 0.1s;
  }

  &__credits-link {

    &:hover .footer-underline__credits-caption {
      color: var(--color-monza);

      transition: 0.1s;
    }

    &:hover .footer-underline__credits-icon {
      fill: var(--color-monza);

      transition: 0.1s;
    }

    &:focus-visible {
      outline: solid var(--color-monza);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }
}