@use "../mixins";

.guide {
  position: relative;
  
  &__graphic--left {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(-1, 1);

    width: 100px;
    height: auto;

    z-index: 1;
  }

  &__graphic--right {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scale(-1, 1);

    width: 100px;
    height: auto;

    z-index: 1;
  }

  &__title {
    position: relative;

    display: inline-block;
    width: fit-content;

    font-size: 25px;

    @include mixins.respond-to(mobileOnly) {

      padding-bottom: 20px;
      margin: 50px 0 30px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    
    z-index: 5;
  }

  &__inner {
    @include mixins.respond-to(mobileOnly) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__inner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    margin-bottom: 30px;
  }

  &__item-image {
    margin-bottom: 20px;
  }

  &__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    margin-bottom: 20px;

    z-index: 5;
  }

  &__item-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    z-index: 5;
  }
}