@use "../mixins";

.guide {
  position: relative;

  background-image: url('../../img/image/design/trail.svg');
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    position: relative;

    display: inline-block;
    width: fit-content;

    font-size: 25px;

    padding-bottom: 20px;
    margin: 50px 0 30px 0;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    z-index: 5;
  }

  &__inner {
    display: flex;

    width: 100%;
    overflow-x: auto;

    padding-bottom: 50px;

    @include mixins.respond-to(desktopS) {
      display: grid;
      grid-template: 1fr / repeat(4, 1fr);
    }
  }

  &__inner-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    text-align: center;

    @include mixins.respond-to(mobileOnly) {
      min-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      min-width: 50%;
    }

    @include mixins.respond-to(desktopS) {
      border: 1px solid black;
      color: black;

      &:nth-child(2) {
        padding-top: 90px;
      }
      &:nth-child(3) {
        padding-top: 90px;
      }
    }
  }

  &__item-image {
    margin-bottom: 20px;
  }

  &__item-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    margin-bottom: 20px;

    z-index: 5;
  }

  &__item-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    z-index: 5;
  }
}

.guide__graphic--left {
  position: absolute;
  top: 0;
  left: 0;

  width: 100px;
  height: auto;
  pointer-events: none;

  z-index: 1;
}

@media (min-width: 768px) {
  .guide__graphic--left {
    width: 150px;
  }
}

.guide__graphic--right {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 100px;
  height: auto;
  pointer-events: none;

  z-index: 1;
}

@media (min-width: 768px) {
  .guide__graphic--right {
    width: 150px;
  }
}