@use "../mixins";

.guide {
  position: relative;

  padding-top: 50px;

  @include mixins.respond-to(desktopS) {
    padding-top: 89px;
  }

  &__title {
    position: relative;

    display: inline-block;
    width: fit-content;

    font-size: 25px;

    padding-bottom: 20px;
    margin-bottom: 50px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    @include mixins.respond-to(desktopS) {
      padding-bottom: 45px;
      margin-bottom: 45px;
    }

    z-index: 5;
  }

  &__inner {
    position: relative;

    display: flex;

    width: 100%;
    overflow-x: auto;
    background-image: url('../../img/image/design/trail.svg');
    background-repeat: no-repeat;

    padding-bottom: 50px;

    @include mixins.respond-to(tablet) {
      background-position: center 50px;
    }

    @include mixins.respond-to(desktopS) {
      justify-content: space-between;

      background-position: center 60px;
      background-size: 800px auto;

      padding-bottom: 0;
    }

    @include mixins.respond-to(desktopS) {
      background-position: center 80px;
      background-size: auto auto
    }
  }

  &__inner-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    @include mixins.respond-to(mobileOnly) {
      min-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      min-width: 50%;
    }

    @include mixins.respond-to(desktopS) {
      justify-content: flex-start;

      width: fit-content;

      &:nth-child(2) {
        padding-top: 90px;
      }

      &:nth-child(3) {
        position: relative;
        top: -10px;
        right: -30px;

        padding-top: 90px;

        & .guide__item-image {
          // margin-bottom: 25px;
        }
      }
    }
  }

  &__item-image {
    margin-bottom: 20px;
  }

  &__item-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    margin-bottom: 20px;

    z-index: 5;
  }

  &__item-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    z-index: 5;
  }

  &__graphic--left {
    position: absolute;

    display: none;

    pointer-events: none;

    z-index: 1;

    @include mixins.respond-to(mobileOnly) {
      top: 0;
      left: 0;

      display: block;

      width: 100px;
      height: auto;
    }

    @include mixins.respond-to(tablet) {
      top: 0;
      left: 0;

      display: block;

      width: 100px;
      height: auto;
    }

    @include mixins.respond-to(desktopXL) {
      width: 282px;
    }
  }

  &__graphic--right {
    position: absolute;

    display: none;

    pointer-events: none;

    z-index: 1;

    @include mixins.respond-to(mobileOnly) {
      bottom: 0;
      right: 0;

      display: block;

      width: 100px;
      height: auto;
    }

    @include mixins.respond-to(tablet) {
      top: 0;
      bottom: auto;
      right: 0;

      display: block;

      width: 100px;
      height: auto;
    }

    @include mixins.respond-to(desktopXL) {
      width: 226px;
    }
  }

  &__graphic--top {
    position: absolute;

    display: none;

    pointer-events: none;

    z-index: 0;

    @include mixins.respond-to(tablet) {
      top: -20px;
      left: 50%;
      transform: translateX(-50%);

      display: block;

      width: 100px;
      height: auto;
    }

    @include mixins.respond-to(desktopXL) {
      top: -120px;
      right: 290px;
      transform: none;
      left: auto;

      width: 414px;
    }
  }
}