@use "../mixins";

.headline {
  height: 90px;

  @include mixins.respond-to(mobileOnly) {
    background-color: var(--color-viking);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100%;
  }

  &__logo-block {
    z-index: 4;
  }

  &__link-block {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }
  }

  &__order-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 215px;

    margin-right: 30px;
  }

  &__whatsup-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 290px;

    @include mixins.respond-to(tabletOnly) {
      width: 215px;
    }
  }

  &__burger {
    position: relative;
    display: none;

    z-index: 5;

    &::before {
      content: "";
      position: absolute;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: var(--color-scooter);

      transition: 0.2s;

      z-index: 4;
    }

    &:focus::before {
      border: 2px solid var(--color-monza);
    }

    @include mixins.respond-to(mobileOnly) {
      &:active::before {
        transform: scale(1.2);
        transition: transform 0.2s;
      }
    }

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  
      width: 40px;
      height: 40px;
      border: none;
      background: none;
      outline: none;
  
      padding: 0;
      margin: 0;

      &--opened .headline__burger-line:nth-child(1) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);

        transition-duration: 0.3s;
      }

      &--opened .headline__burger-line:nth-child(3) {
        position: absolute;
        bottom: 50%;

        transform: translateY(50%) rotate(-45deg);

        transition-duration: 0.3s;
      }

      &--opened .headline__burger-line:nth-child(2) {
        opacity: 0;

        transition-duration: 0.1s;
      }
    }
  }

  &__burger-line {
    @include mixins.respond-to(mobileOnly) {
      width: 80%;
      height: 3px;
      background-color: var(--color-monza);
      border-radius: 10px;

      transition-duration: 0.3s;
  
      margin: 0 auto;

      z-index: 5;
    }
  }
}