@use "../mixins";

.heading {
  position: relative;
  display: flex;
  flex-direction: column;

  background-image: -webkit-image-set(url('../img/image/design/X2-heading-background.jpg') 2x,
      url('../img/image/design/heading-background.jpg') 1x);

  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 110px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    opacity: 80%;

    z-index: 1;
  }

  &__container {
    display: flex;
    flex-direction: column;

    z-index: 2;
  }

  &__top {
    position: relative;

    order: 1;

    margin-bottom: 30px;

    z-index: 2;

    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 15px;
    }
  }

  &__container {
    display: flex;
    justify-content: column;
  }

  &__title {
    display: inline-block;

    width: fit-content;

    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    color: var(--color-mine-shaft);

    margin: 30px 0 30px 0;

    z-index: 2;

    &-highlight {
      color: var(--color-scooter);
    }
  }

  &__top-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    width: fit-content;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: var(--color-mine-shaft);

    margin-bottom: 10px;
  }

  &__profession {
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    color: var(--color-mine-shaft);
  }

  &__bottom {
    position: relative;

    order: 2;

    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;
      background-color: var(--color-scooter);
      opacity: 0.6;

      z-index: 1;
    }

    @include mixins.respond-to(mobileOnly) {
      order: 3;
    }
  }

  &__bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 0 20px 0;

    @media (min-width: 500px) {
      align-items: flex-start;
    }
  }

  &__bottom-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: fit-content;

    margin-bottom: 20px;

    @include mixins.respond-to(tablet) {
      margin-bottom: 50px;
    }
  }

  &__list-item {
    position: relative;

    display: flex;

    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-white);

    padding-left: 25px;
    margin-bottom: 20px;

    z-index: 10;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;

      width: 15px;
      height: 15px;
      box-sizing: border-box;
      background-color: var(--color-tangerine);
      border-radius: 50%;
      border: 3px solid var(--color-monza);
    }
  }

  &__bottom-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: fit-content;

    z-index: 10;

    @include mixins.respond-to(tablet) {
      align-items: flex-start;
    }
  }

  &__order-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    height: 90px;
    background-color: var(--color-white);
    box-shadow: 0px 4px 22px rgba(228, 245, 252, 0.3);
    border-radius: 8px;

    margin-bottom: 20px;

    z-index: 10;

    @include mixins.respond-to (mobileOnly) {
      width: 260px;
    }
  }

  &__order-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 270px;

    z-index: 10;

    @include mixins.respond-to (mobileOnly) {
      width: 215px;
    }
  }

  &__bottom-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-white);

    z-index: 10;
  }

  &__image-block {
    position: relative;

    order: 3;

    margin: 0 auto;

    z-index: 2;

    @include mixins.respond-to(mobileOnly) {
      order: 1;
    }

    @include mixins.respond-to(tablet) {
      position: absolute;
      top: 110px;
      right: 5%;
    }
  }

  &__image-inner {
    position: relative;
    color: red;
  }

  &__photo-image {
    @include mixins.respond-to(mobileOnly) {
      align-self: center;
      order: 1;

      width: 290px;
      height: auto;

      margin: 0 auto;
    }
  }

  &__photo-img {
    display: block;

    height: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 290px;
    }

    @include mixins.respond-to(tablet) {
      width: 290px;
    }
  }

  &__experience {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 7%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    width: 260px;
    height: 100px;

    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 0px 5.54897px 33.2938px rgba(0, 0, 0, 0.1);

    z-index: 2;

    @include mixins.respond-to(mobileOnly) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    @include mixins.respond-to(tablet) {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &-headline {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      width: 100%;
    }

    &-title {
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: #3D3D3F;

      margin-right: 30px;
    }

    &-img {
      margin-right: 10px;
    }

    &-info {
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.56);
    }
  }

  &__patients {
    position: absolute;
    bottom: 140px;
    right: 7%;

    display: none;

    width: 260px;
    height: 170px;

    box-shadow: 0px 3.9051px 21.4781px rgba(0, 0, 0, 0.04);
    border-radius: 19.5255px;
    background-color: var(--color-white);

    z-index: 2;

    @include mixins.respond-to(tablet) {
      bottom: -210px;
      right: auto;
      left: 50%;
      transform: translateX(-50%);

      display: block;
    }

    &-inner {
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      width: 260px;
      height: 170px;
    }

    &-love {
      position: absolute;
      top: -23.5px;

      margin: 0 auto;
    }

    &-img {
      margin-bottom: 10px;
    }

    &-title {
      font-weight: 700;
      font-size: 23px;
      line-height: 27px;
      letter-spacing: 0.02em;
      color: #3D3D3F;

      margin-bottom: 10px;
    }

    &-info {
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: rgba(61, 61, 63, 0.56);
    }
  }

  &__whatsup-ball {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    width: 65px;
    height: 65px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  & .whatsup-ball__inner {
    width: 35px;
    height: 35px;
  }
}