@use "../mixins";

.main-nav {
  z-index: 6;

  @include mixins.respond-to(mobileOnly) {
    position: absolute;
    top: 90px;
    left: -100%;

    width: 100%;
    height: calc(100vh - 90px);

    background-color: rgb(255, 255, 255, 0.9);

    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  @include mixins.respond-to(tablet) {
    margin-bottom: 30px;
  }

  @include mixins.respond-to(desktopS) {
    margin-bottom: 67px;
  }

  &--opened {
    left: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;

    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }

  &__container {
    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 100%;
    }
  }

  &__list {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      display: block;
      width: 100%;

      margin: 0 auto;

      & .main-nav__list-item {
        position: relative;

        padding-left: 30px;

        margin-top: 30px;

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "";
          position: absolute;
          left: 15px;
          top: 50%;
          transform: translateY(-50%);

          width: 9px;
          height: 9px;
          background-color: var(--color-monza);
          border-radius: 50%;
        }
      }

      & .main-nav__list-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: var(--color-black);

        @include mixins.respond-to(mobileOnly) {
          display: inline-block;

          width: 100%;

          font-size: 18px;
        }
      }
    }

    @include mixins.respond-to(tablet) {
      align-items: center;
      justify-content: space-between;

      & .main-nav__list-link {
        position: relative;

        font-size: 12px;

        padding-left: 6px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;

          width: 5px;
          height: 5px;
          background-color: var(--color-scooter);
          border-radius: 50%;
        }

        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
  
          width: 100%;
          height: 2px;
          background-color: var(--color-monza);
          opacity: 0;
          visibility: hidden;
  
          transition: 0.2s;
        }
        
        &:hover::after {
          opacity: 1;
          visibility: visible;
  
          transition: all 0.2s;
        }
  
        &:active {
          color: var(--color-monza);
  
          transition: all 0.2s;
        }
  
        &:focus-visible {
          outline: solid var(--color-monza);
          outline-offset: 5px;
  
          transition: all 0.1s;
        }
      }
    }

    @include mixins.respond-to(desktopS) {
      margin: 0 15px 0 15px;

      & .main-nav__list-link {
        position: relative;

        overflow: hidden;
        outline: none;
        border: none;

        font-size: 14px;

        padding-left: 20px;

        &::before {
          width: 10px;
          height: 10px;
        }
      }
    }

    @include mixins.respond-to(desktopM) {
      & .main-nav__list-link {
        font-size: 16px;
      }
    }
  }

  &__order-item {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;
    }

    &::before {
      display: none;
    }
  }

  &__whatsup-item {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;
    }

    &::before {
      display: none;
    }
  }

  &__order-link {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 250px;
      height: 50px;
      background-color: var(--color-monza);
      border-radius: 8px;
      -webkit-tap-highlight-color: transparent;

      color: var(--color-white);

      transition: 0.1s;

      margin-top: 50px;

      &:active {
        background-color: var(--color-white);
        border: 2px solid var(--color-monza);

        color: var(--color-monza);

        transition: all 0.1s;
      }
    }
  }

  &__whatsup-link {
    display: none;
    margin: 0;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 250px;
      height: 50px;
      background-color: var(--color-scooter);
      border-radius: 8px;
      -webkit-tap-highlight-color: transparent;

      color: var(--color-white);

      margin-top: 30px;

      &:active {
        background-color: var(--color-white);
        border: 2px solid var(--color-scooter);

        color: var(--color-scooter);

        transition: all 0.1s;
      }
    }
  }
}