@use "../mixins";

.main-nav {

  z-index: 3;

  @include mixins.respond-to(mobileOnly) {
    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100vh;

    background-color: var(--color-viking);

    transition-property: left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;

    &--opened {
      left: 0;

      overflow: auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior-y: contain;

      transition-property: left;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
    }
  }

  &__list {

    display: flex;
    align-items: center;
    justify-content: space-between;

    & .main-nav__list-link {
      font-size: 12px;
    }

    @include mixins.respond-to(mobileOnly) {
      position: absolute;
      top: 100px;
      left: 5%;

      display: block;

      & .main-nav__list-item {
        position: relative;

        padding-left: 15px;

        margin-top: 20px;

        &:first-child {
          margin-top: 0;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

          width: 9px;
          height: 9px;
          background-color: var(--color-monza);
          border-radius: 50%;
        }
      }

      & .main-nav__list-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.03em;
        color: var(--color-black);

        @include mixins.respond-to(mobileOnly) {
          display: inline-block;

          width: 100%;

          font-size: 18px;
        }
      }
    }
  }

  &__order-item {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;
    }
  }

  &__whatsup-item {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: block;
    }
  }

  &__order-link {
    display: none;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 250px;
      height: 50px;
      background-color: var(--color-monza);
      border-radius: 8px;

      color: var(--color-white);
    }
  }

  &__whatsup-link {
    display: none;
    margin: 0;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 250px;
      height: 50px;
      background-color: var(--color-scooter);
      border-radius: 8px;

      color: var(--color-white);

      margin-top: 50px;
    }
  }
}