@use "../mixins";

.order-link {
  height: 50px;
  background: var(--color-monza);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  &__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 
    color: var(--color-white);
  }
}

.whatsup-link {
  height: 50px;
  background: var(--color-scooter);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  &__icon {
    margin-right: 10px;
  }

  &__caption {
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: var(--color-white);
  }
}