@use "../mixins";

.phone-ball {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: radial-gradient(103.57% 103.57% at 50% 0%, #FDFEFE 0%, #FDFEFE 100%);
  opacity: 0.7;
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.05);

  transition: 0.1s;

  @include mixins.respond-to(mobileOnly) {
    &:active {
      outline: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
    }
  }

  @include mixins.respond-to(desktopS) {
    &:hover {
      transform: scale(1.3);
      transition: transform, 0.2s;
    }
  }

  &:active {
    transform: scale(1.3);
    transition: transform, 0.1s;
    color: black;
  }
}