@use "../mixins";

.questions {

  z-index: 5;

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 50px;
  }

  @include mixins.respond-to(tablet) {
    margin-bottom: 50px;
  }

  @include mixins.respond-to(desktopS) {
    margin-bottom: 90px;
  }

  &__container {
    position: relative;

    display: flex;

    background: -webkit-image-set(url('../img/image/design/X2-motto-background.png') 2x,
        url('../img/image/design/motto-background.png') 1x) var(--color-scooter);

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-sizing: border-box;

    @include mixins.respond-to(mobileOnly) {
      align-items: center;
      flex-direction: column;

      text-align: center;

      padding: 20px 10px 20px 10px;
    }

    @include mixins.respond-to(tablet) {
      display: grid;
      grid-template: 1fr / auto 290px;
      grid-column-gap: 10px;

      padding: 20px;
    }

    @include mixins.respond-to(desktopD) {
      grid-template: 1fr / auto 376px;

      padding: 63px 0 54px 114px;
    }

    @include mixins.respond-to(desktopM) {
      padding: 63px 0 54px 214px;
    }


  }

  &__main {
    order: 1;

    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }

    @include mixins.respond-to(tablet) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }

  &__headline {
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 20px;
      text-align: left;

      margin-bottom: 30px;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 55px;
    }
  }

  &__whatsup-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 290px;
    background-color: var(--color-monza);

    transition: 0.1s;

    @include mixins.respond-to(mobileOnly) {
      width: 220px;

      margin: 0 auto;
    }

    &:hover {
      background-color: var(--color-milano-red);

      transition: 0.1s;
    }

    &:active {
      background-color: var(--color-totem-pole);

      transition: 0.1s;
    }
  }

  &__aside {
    order: 2;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;
      order: 1;

      margin-bottom: 30px;
    }
  }

  &__aside-inner {
    position: relative;
  }

  &__aside-image {
    vertical-align: top;

    @include mixins.respond-to(desktopD) {
      position: absolute;
      top: -100px;
      right: 55px;
    }
  }

  &__aside-img {
    display: block;

    height: auto;
    user-select: none;

    @include mixins.respond-to(mobileOnly) {
      width: 260px;

      margin: 0 auto;
    }

    @include mixins.respond-to(tablet) {
      width: 290px;
    }

    @include mixins.respond-to(desktopD) {
      width: 376px;
    }
  }

  &__whatsup-ball {
    position: absolute;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tablet) {
      bottom: 0;
      right: 0;

      display: flex;

      width: 65px;
      height: 65px;
    }

    @include mixins.respond-to(desktopS) {
      bottom: -35px;
      top: auto;
      left: 44%;
      right: auto;

      width: 100px;
      height: 100px;
    }

    @include mixins.respond-to(desktopM) {
      bottom: 50px;
      top: auto;
      left: -73px;
      right: auto;
    }
  }

  & .whatsup-ball__inner {
    @include mixins.respond-to(tablet) {
      width: 35px;
      height: 35px;
    }

    @include mixins.respond-to(desktopS) {
      width: 55px;
      height: 55px;
    }
  }

  & .whatsup-ball__icon {
    width: 20px;
    height: 20px;

    @include mixins.respond-to(desktopS) {
      width: 36px;
      height: 36px;
    }
  }

  &__phone-ball {
    position: absolute;

    @include mixins.respond-to(mobileOnly) {
      display: none;
    }

    @include mixins.respond-to(tablet) {
      top: 0;
      right: 0;

      display: flex;
    }

    @include mixins.respond-to(desktopS) {
      top: -33px;
      right: 44%;
    }
  }

}