@use "../mixins";

.questions {

  @include mixins.respond-to(tablet) {
    margin-bottom: 50px;
  }

  &__container {
    position: relative;

    display: flex;

    background-image: -webkit-image-set(
      url('../img/image/design/X2-motto-background.png') 2x,
      url('../img/image/design/motto-background.png') 1x
  );
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    box-sizing: border-box;

    @include mixins.respond-to(mobileOnly) {
      align-items: center;
      flex-direction: column;

      text-align: center;

      padding: 20px 10px 20px 10px;
    }

    @include mixins.respond-to(tablet) {
      align-items: center;
      justify-content: space-between;

      padding: 20px;
    }
  }

  &__main {
    order: 1;

    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }
  }

  &__headline {
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 20px;

      margin-bottom: 30px;
    }

    @include mixins.respond-to(tablet) {
      margin-bottom: 40px;
    }
  }

  &__whatsup-button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 290px;

    background-color: var(--color-monza);

    @include mixins.respond-to(mobileOnly) {
      width: 220px;

      margin: 0 auto;
    }
  }

  &__aside {
    order: 2;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;
      order: 1;

      margin-bottom: 30px;
    }
  }

  &__aside-img {
    display: block;
    height: auto;

    @include mixins.respond-to(mobileOnly) {
      position: relative;
      left: -13px;

      width: 260px;

      margin: 0 auto;
    }

    @include mixins.respond-to(tablet) {
      width: 290px;
    }
  }

  &__whatsup-ball {
    position: absolute;

    width: 100px;
    height: 100px;

    @include mixins.respond-to(mobileOnly) {
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      width: 65px;
      height: 65px;
    }

    @include mixins.respond-to(tablet) {
      top: -33px;
      left: 0;

      width: 65px;
      height: 65px;
    }
  }

  & .whatsup-ball__inner {
    width: 55px;
    height: 55px;

    @include mixins.respond-to(mobileOnly) {
      width: 35px;
      height: 35px;
    }

    @include mixins.respond-to(tablet) {
      width: 35px;
      height: 35px;
    }
  }

  & .whatsup-ball__icon {
    width: 20px;
    height: 20px;
  }

  &__phone-ball {
    position: absolute;

    @include mixins.respond-to(mobileOnly) {
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }

    @include mixins.respond-to(tablet) {
      top: -33px;
      right: 0;
    }
  }

}