@use "../mixins";

.reviews {
  z-index: 5;

  &__container {
    z-index: 5;
  }

  &__title {
    position: relative;

    font-size: 42px;
    letter-spacing: 0.02em;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;

      padding-bottom: 20px;
      margin: 0 0 30px 0;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;

      width: 81px;
      height: 15px;
      background-image: url("../../img/image/design/title-graphic.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__slider {

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      padding: 30px;
    }
  }

  &__slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    z-index: 5;
  }

  &__item-head {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 15px;

    z-index: 10;

    &::before {
      content: "";
      position: absolute;
      top: -20px;
      right: 0;

      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: url("../../img/image/design/quotes-square.svg") var(--color-monza);
      background-position: center;
      background-size: 14px 12px;
      background-repeat: no-repeat;

      z-index: 10;

      color: red;
    }

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      text-align: center;

      padding: 10px;
    }
  }

  &__item-image {
    margin-right: 15px;
  }

  &__item-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-mine-shaft);
  }

  &__item-body {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--color-mine-shaft);

    @include mixins.respond-to(mobileOnly) {
      font-size: 16px;

      padding: 10px;
    }
  }
}