@use "../mixins";

.section-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 130%;
  color: var(--color-mine-shaft);

  @include mixins.respond-to(mobileOnly) {
    font-size: 25px;
  }

  &__article-block {
    font-size: 30px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
    }
  }

  &__slider-block {
    font-size: 42px;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: var(--color-mine-shaft);

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
    }
    @include mixins.respond-to(tabletOnly) {
      font-size: 35px;
    }
  }
}