<header class="page-header">
  <div class="page-header__container base-container">
    <section class="headline">
      <figure class="logo-block base-figure"></figure>
      <a href="#" class="headline__order-link order-link base-link">Консультация онлайн</a>
      <a href="#" class="headline__shatsup-link base-link">Перейти в WhatsApp</a>
      <button class="headline__burger base-button">
        <span class="headline__burger-line"></span>
        <span class="headline__burger-line"></span>
        <span class="headline__burger-line"></span>
      </button>
    </section>
    <nav class="main-nav">
      <ul class="main-nav__list base-list">
        <li class="main-nav__list-item"><a href="#" class="main-nav__list-link base-link">О враче</a></li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__list-link base-link">Как получить консультацию</a>
        </li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__list-link base-link">Дипломы и сертификаты</a></li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__list-link base-link">Вопросы и ответы</a></li>
        <li class="main-nav__list-item"><a href="#" class="main-nav__list-link base-link">Отзывы пациентов</a></li>
      </ul>
    </nav>
  </div>
</header>