<section class="heading">
  <div class="heading__top">
    <div class="heading__top-container base-container">
      <h1 class="heading__title base-title">Консультация<br><span class="heading__title-highlight">врача гематолога</span></h1>
      <div class="heading__top-info">
        <span class="heading__name">Лобанова Татьяна Игоревна</span>
        <span class="heading__profession">Кандидат медицинских наук</span>
      </div>
    </div>
  </div>
  <div class="heading__bottom">
    <div class="heading__bottom-container base-container">
      <ul class="heading__bottom-list base-list">
        <li class="heading__bottom-item">
          <span class="heading__bottom-caption">Вам никуда не нужно ехать или идти</span>
        </li>
        <li class="heading__bottom-item">
          <span class="heading__bottom-caption">Высококвалифицированный врач</span>
        </li>
        <li class="heading__bottom-item">
          <span class="heading__bottom-caption">Быстрое получение результата и назначения</span>
        </li>
      </ul>
      <div class="heading__bottom-info">
        <a href="#" class="heading__order-link order-link base-link">Записаться на консультацию</a>
        <span class="heading__bottom-description">
          Консультации ведутся в онлайн<br>
          форме по воскресеньям по<br>
          WhatsApp
        </span>
      </div>
    </div>
  </div>

  <div class="heading__image-block">
    <figure class="heading__photo-image base-figure">
      <picture>
        <source srcset="img/image/content/heading-photo.webp 1x, img/image/content/X2-heading-photo.webp 2x"
          type="image/webp">
        <img srcset="img/image/content/heading-photo.png 1x, img/image/content/X2-heading-photo.png 2x"
          class="heading__photo-img" alt="Фото врача">
      </picture>
    </figure>

    <div class="heading__experience">
      <div class="heading__experience-headline">
        <span class="heading__experience-title">9+ лет</span>
        <picture>
          <img srcset="img/image/design/heading-fat-love.png 1x, img/image/design/X2-heading-fat-love.png 2x"
            class="heading__experience-img" alt="Изображение сердечка">
        </picture>
      </div>
      <span class="heading__experience-info">Стаж врача гематолога</span>
    </div>

    <div class="heading__patients">
      <div class="heading__patients-inner">
        <img class="heading__patients-love" src="img/image/design/heading-love.svg" width="47" height="47" alt="">
        <picture>
          <img srcset="img/image/design/heading-patients.png 1x, img/image/design/X2-heading-patients.png 2x"
            class="heading__patients-img" alt="Фотографии счастливых пациентов">
        </picture>
        <span class="heading__patients-title">10 000+</span>
        <span class="heading__patients-info">Счастливых пациентов</span>
      </div>
    </div>

    <a class="heading__whatsup-link whatsup-ball base-link" href="https://wa.me/XXXXXXXXXXX" target="_blank" rel="noopener noreferrer">
      <span class="whatsup-ball__inner">
        <svg class="whatsup-ball__icon" width="20" height="20">
          <use href="img/icon/sprite.svg#whatsup-icon"></use>
        </svg>
      </span>
    </a>
  </div>
</section>

<section class="guide">
  <img class="guide__graphic guide__graphic--left" src="../../img/image/design/guide-graphic-left.png" loading="lazy">
  <img class="guide__graphic guide__graphic--right" src="../../img/image/design/guide-graphic-right.png" loading="lazy">

  <div class="guide__container base-container">
    <h2 class="guide__title section-title base-title">Как проходит консультация врача</h2>
    <div class="guide__inner">
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure">
          <picture>
            <img srcset="img/image/design/guide-item-1.png 1x, img/image/design/X2-guide-item-1.png 2x"
              class="guide__item-img" alt="Изображение гаджетов и стетоскопа" loading="lazy">
          </picture>
        </figure>
        <span class="guide__item-title">Изучение анализов</span>
        <span class="guide__item-info">
          Я предварительно изучаю<br>
          ваши анализы и собираю<br>
          анамнез
        </span>
      </div>
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure">
          <picture>
            <img srcset="img/image/design/guide-item-2.png 1x, img/image/design/X2-guide-item-2.png 2x"
              class="guide__item-img" alt="Изображение смартфона" loading="lazy">
          </picture>
        </figure>
        <span class="guide__item-title">Созвон с пациентом</span>
        <span class="guide__item-info">
          Мы с вами созваниваемся в<br>
          выбранное вами время
        </span>
      </div>
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure">
          <picture>
            <img srcset="img/image/design/guide-item-3.png 1x, img/image/design/X2-guide-item-3.png 2x"
              class="guide__item-img" alt="Изображение бумажного планшета и стетоскопа" loading="lazy">
          </picture>
        </figure>
        <span class="guide__item-title">План лечения</span>
        <span class="guide__item-info">
          На консультации я назначаю<br>
          вам план лечения либо<br>дообследование
        </span>
      </div>
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure">
          <picture>
            <img srcset="img/image/design/guide-item-4.png 1x, img/image/design/X2-guide-item-4.png 2x"
              class="guide__item-img" alt="Изображение символа электронной почты" loading="lazy">
          </picture>
        </figure>
        <span class="guide__item-title">Рекомендации по email</span>
        <span class="guide__item-info">
          Через 1-2 дня вам на почту<br>
          приходит конспект нашей<br>
          беседы и рекомендации в<br>
          письменном виде
        </span>
      </div>
    </div>
  </div>
</section>

<section class="appointment">
  <div class="appointment__container base-container">
    <div class="appointment__inner">
      <h2 class="appointment__title section-title base-title">Запишись на консультацию сейчас</h2>
      <form action="#" class="appointment__form">

        <div class="appointment__type">
          <span class="appointment__type-caption">Выберите вид консультации на которую вы хотите записаться</span>
          <div class="appointment__type-body">

            <div class="appointment__type-item">
              <input type="radio" class="appointment__hidden-radio visually-hidden" id="appointment-radio-1" value="appointment-1" name="appointment-radio">
              <label class="appointment__type-label" for="appointment-radio-1">
                <span class="appointment__shown-radio">
                  <svg class="appointment__check-icon" width="20" height="20">
                    <use href="img/icon/sprite.svg#check-icon"></use>
                  </svg>
                </span>
                <span class="appointment__item-caption">Первичный приём</span>
                <span class="appointment__item-price">4 000 ₽</span>
              </label>
            </div>

            <div class="appointment__type-item">
              <input type="radio" class="appointment__hidden-radio visually-hidden" id="appointment-radio-2" value="appointment-2" name="appointment-radio">
              <label class="appointment__type-label" for="appointment-radio-2">
                <span class="appointment__shown-radio">
                  <svg class="appointment__check-icon" width="20" height="20">
                    <use href="img/icon/sprite.svg#check-icon"></use>
                  </svg>
                </span>
                <span class="appointment__item-caption">Вторичный прием</span>
                <span class="appointment__item-price">3 000 ₽</span>
              </label>
            </div>

            <div class="appointment__type-item">
              <input type="radio" class="appointment__hidden-radio visually-hidden" id="appointment-radio-3" value="appointment-3" name="appointment-radio">
              <label class="appointment__type-label" for="appointment-radio-3">
                <span class="appointment__shown-radio">
                  <svg class="appointment__check-icon" width="20" height="20">
                    <use href="img/icon/sprite.svg#check-icon"></use>
                  </svg>
                </span>
                <span class="appointment__item-caption">English speaking patient consultation</span>
                <span class="appointment__item-price">6 000 ₽</span>
              </label>
            </div>

          </div>
        </div>

        <div class="appointment__info">
          <div class="appointment__info-item">
            <label class="appointment__info-label" for="appointment-name">Ваше имя</label>
            <input class="appointment__info-input "type="text" id="appointment-name" placeholder="Напишите ваше имя">
          </div>
          <div class="appointment__info-item">
            <label class="appointment__info-label" for="appointment-phone">Ваш телефон</label>
            <input class="appointment__info-input" type="tel"  id="appointment-phone" placeholder="+7 (___) ___-__-__">
          </div>
          <div class="appointment__info-item">
            <label class="appointment__info-label" for="appointment-email">Ваше имя</label>
            <input class="appointment__info-input" type="email" id="appointment-email" placeholder="Напишите ваше имя">
          </div>
        </div>

        <div class="appointment__attach">
          <span class="appointment__attach-caption">Прикрепите ваши анализы<br class="appointment__breakpoint--mobile"> (не более 10)</span>
          <div class="appointment__attach-area">
            <input class="appointment__upload-hidden visually-hidden" type="file" id="upload-input">
            <button class="appointment__upload-shown base-button" type="button" id="upload-button">
              <svg class="appointment__upload-icon" width="28" height="24">
                <use href="img/icon/sprite.svg#camera-icon"></use>
              </svg>
              <span class="appointment__upload-caption">Добавить фото</span>
            </button>
            <div class="appointment__attach-items">
              <div class="appointment__attached-item">
                <img src="../../img/image/design/test.png" width="136" height="82" class="appointment__attached-img">
                <button class="appointment__attach-delete base-button" type="button">
                  <div class="appointment__delete-inner">
                    <span class="appointment__delete-line"></span>
                    <span class="appointment__delete-line"></span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>

        <button class="appointment__order-button base-button" type="button" id="appointment-submit">
          <span class="appointment__order-caption">Выбрать дату и оплатить</span>
        </button>

        <div class="appointment__terms">
          <input class="appointment__terms-hidden visually-hidden" type="checkbox" id="appointment-terms-of-use" value="terms-checked" checked>
          <label class="appointment__terms-label" for="appointment-terms-of-use">
            <span class="appointment__terms-shown">
              <svg class="appointment__terms-check" width="15" height="15">
                <use href="img/icon/sprite.svg#check-icon"></use>
              </svg>
            </span>
            <span class="appointment__terms-caption">
              Отправляя данную форму, вы принимаете условие <a class="appointment__terms-link base-link"
                href="#">пользовательского соглашения</a>
            </span>
          </label>
        </div>
      </form>

      <div class="appointment__modal">
        <div class="appointment__modal-inner">
          <span class="appointment__modal-title">Запись на первичный прием</span>
          <span class="appointment__modal-info">
            Консультация ведется в онлайн форме<br>
            по воскресеньям по WhatsApp
          </span>
          <div class="appointment__modal-date"></div>
          <div class="appointment__modal-time">
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="10">
              <span class="appointment__time-radio">10:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="11">
              <span class="appointment__time-radio">11:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="12">
              <span class="appointment__time-radio">12:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="13">
              <span class="appointment__time-radio">13:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="15">
              <span class="appointment__time-radio">15:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="16">
              <span class="appointment__time-radio">16:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="17">
              <span class="appointment__time-radio">17:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="18">
              <span class="appointment__time-radio">18:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="19">
              <span class="appointment__time-radio">19:00</span>
            </div>
            <div class="appointment__time-item">
              <input class="visually-hidden" type="radio" name="appointment-modal-time" value="20">
              <span class="appointment__time-radio">20:00</span>
            </div>
          </div>
          <span class="appointment__modal-tag">К оплате <span class="appointment__modal-price">6000</span> ₽</span>
          <button class="appointment__modal-submit base-button" type="submit">Оплатить</button>
          <button class="appointment__modal-cancel base-button" type="reset">Отменить</button>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="about">
  <div class="about__container base-container">
    <div class="about__slider swiper">

      <div class="about__item-arrow about__item-arrow--left">
        <svg class="about__arrow-icon" width="12" height="20">
          <use href="img/icon/sprite.svg#arrow-icon"></use>
        </svg>
      </div>
      <div class="about__item-arrow about__item-arrow--right">
        <svg class="about__arrow-icon" width="12" height="20">
          <use href="img/icon/sprite.svg#arrow-icon"></use>
        </svg>
      </div>

      <div class="about__slider-wrapper swiper-wrapper">
        <div class="about__slider-item swiper-slide">
          <figure class="about__item-image base-figure">
            <picture>
              <img srcset="img/image/design/about-slide-1.jpg 1x, img/image/design/X2-about-slide-1.jpg 2x"
                class="about__item-img" alt="Изображение ампул" loading="lazy">
            </picture>
          </figure>
          <div class="about__item-inner">
            <h3 class="about__item-title base-title">О враче гематологе</h3>
            <p class="about__item-info base-par">
              <span class="about__info-part">
                Гематология – это раздел медицины, изучающий работу кровеносной системы. Сегодня около 8% всех заболеваний
                приходится на органы кроветворения.
              </span>
              <span class="about__info-part">Гематолог – врач, занимающийся диагностикой, выявлением и лечением
                заболеваний крови. Гематолог ведет как детский, так и взрослый прием.
              </span>
              <span class="about__info-part">Современные методики и инновационные разработки позволяют
                диагностировать заболевания на ранних этапах возникновения без явных клинических проявлений.</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="about__tabs">
      <nav class="about__tabs-nav">
        <a class="about__nav-link about__nav-link--active base-link" href="#tabs-item-1" id="about-tab-1">Образование</a>
        <a class="about__nav-link base-link" href="#tabs-item-2" id="about-tab-2">Повышение квалификации</a>
        <a class="about__nav-link base-link" href="#tabs-item-3" id="about-tab-3">Звания, членства, награды</a>
        <a class="about__nav-link base-link" href="#tabs-item-4" id="about-tab-4">Опыт работы</a>
      </nav>
      <div class="about__tabs-body">
        <div class="about__tabs-item" id="tabs-item-1">
          <h4 class="about__tabs-title base-title">Образование</h4>
          <ul class="about__tabs-list base-list">
            <li class="about__tabs-value">
              2012 г. – лечебное дело, Первый Московский Государственный<br>
              Медицинский Университет им. И.М. Сеченова, Москва
            </li>
            <li class="about__tabs-value">
              2013 г. – интернатура по терапии, Первый Московский<br>
              Государственный Медицинский Университет им. И.М. Сеченова, Москва
            </li>
            <li class="about__tabs-value">
              2015 г. – ординатура по специальности “Гематология”,<br>
              Гематологический научный центр Российской академии медицинских наук, Москва
            </li>
            <li class="about__tabs-value">
              2016 г. – повышение квалификации “Психосоматические<br>
              расстройства”, ПМГМУ им. И.М. Сеченова
            </li>
            <li class="about__tabs-value">
              2016 г. – сертификат “Основы клинической трансфузиологии”, ФГБУ<br>
              дополнительного профессионального образования
            </li>
            <li class="about__tabs-value">
              2018 г. – аспирантура “Гематология и переливание крови”,<br>
              Гематологический научный центр Российской академии медицинских наук, Москва
            </li>
          </ul>
        </div>
        <div class="about__tabs-item" id="tabs-item-2"></div>
        <div class="about__tabs-item" id="tabs-item-2"></div>
        <div class="about__tabs-item" id="tabs-item-3"></div>
      </div>
    </div>
    <div class="about__motto">
      <h3 class="about__motto-title base-title">Врач – это не профессия, а образ жизни</h3>
      <p class="about__motto-info base-par">Доктором может быть не каждый. Это действительно призвание. Эта профессия
        подходит тем, кто искренне хочет помогать людям, кто умеет сопереживать. Если все эти качества соединены в одном
        человеке, то у него есть шанс стать настоящим Врачом с большой буквы.</p>
    </div>
  </div>
</section>

<section class="required">
  <div class="required__container base-container">
    <div class="required__aside">
      <figure class="required__image base-figure">
        <picture>
          <img srcset="img/image/design/required-graphic.png 1x, img/image/design/X2-required-graphic.png 2x"
            class="required__img" alt="Изображение эритроцитов" loading="lazy">
        </picture>
      </figure>

      <a class="required__whatsup-link whatsup-ball base-link" href="https://wa.me/XXXXXXXXXXX" target="_blank" rel="noopener noreferrer">
        <span class="whatsup-ball__inner">
          <svg class="whatsup-ball__icon" width="36" height="36">
            <use href="img/icon/sprite.svg#whatsup-icon"></use>
          </svg>
        </span>
      </a>

      <a class="required__tel-link phone-ball base-link">
        <svg class="phone-ball__icon" width="36" height="36">
          <use href="img/icon/sprite.svg#phone-icon"></use>
        </svg>
      </a>
    </div>

    <div class="required__main">
      <h2 class="required__title section-title base-title">Что нужно для получения консультации</h2>
      <span class="required__info">Для консультации врача гематолога необходимо иметь:</span>
      <ul class="required__list base-list">
        <li class="required__list-item">Данные предыдущих выписок;</li>
        <li class="required__list-item">Данные «недавних» анализов крови;</li>
        <li class="required__list-item">Четко сформулированная проблема;</li>
        <li class="required__list-item">Согласие на онлайн консультацию;</li>
        <li class="required__list-item">Оплаченная запись и ее подтверждение.</li>
      </ul>
      <a href="#" class="required__order-link order-link base-link">Записаться на консультацию</a>
    </div>
  </div>
</section>

<section class="diplomas">
  <div class="diplomas__container base-container">
    <h2 class="diplomas__title base-title">Дипломы и сертификаты</h2>
    <div class="diplomas__slider swiper">
      <div class="diplomas__slider-wrapper swiper-wrapper">
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure">
            <picture>
              <source srcset="img/image/content/diplomas-item-1.webp 1x, img/image/content/X2-diplomas-item-1.webp 2x"
                type="image/webp">
              <img srcset="img/image/content/diplomas-item-1.png 1x, img/image/content/X2-diplomas-item-1.png 2x"
                class="diplomas__item-img" alt="Скан диплома об окончании аспирантуры" loading="lazy">
            </picture>
          </figure>
        </div>
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure">
            <picture>
              <source srcset="img/image/content/diplomas-item-2.webp 1x, img/image/content/X2-diplomas-item-2.webp 2x"
                type="image/webp">
              <img srcset="img/image/content/diplomas-item-2.png 1x, img/image/content/X2-diplomas-item-2.png 2x"
                class="diplomas__item-img" alt="Скан сертификата специалиста" loading="lazy">
            </picture>
          </figure>
        </div>
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure">
            <picture>
              <source srcset="img/image/content/diplomas-item-3.webp 1x, img/image/content/X2-diplomas-item-3.webp 2x"
                type="image/webp">
              <img srcset="img/image/content/diplomas-item-3.png 1x, img/image/content/X2-diplomas-item-3.png 2x"
                class="diplomas__item-img" alt="Скан диплома ординатуры" loading="lazy">
            </picture>
          </figure>
        </div>
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure">
            <picture>
              <source srcset="img/image/content/diplomas-item-4.webp 1x, img/image/content/X2-diplomas-item-4.webp 2x"
                type="image/webp">
              <img srcset="img/image/content/diplomas-item-4.png 1x, img/image/content/X2-diplomas-item-4.png 2x"
                class="diplomas__item-img" alt="Скан приложения к диплому" loading="lazy">
            </picture>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="faq__container base-container">
    <div class="faq__main">
      <h2 class="faq__title base-title">О чем часто спрашивают</h2>
      <div class="faq__spoilers">
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Как будет проходить консультация?</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Можно ли записаться на консультацию если нет
            анализов?</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Есть ли особые рекомендации перед
            консультацией врача – гематолога</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Может ли врач после консультации дать
            направление на лечение в какую-либо клинику?</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Можно ли получить консультация врача –
            гематолога во время беременности</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Как можно отменить уже оплаченную
            консультацию?</button>
          <div class=" faq__item-body"></div>
        </div>
      </div>
      <a href="#" class="faq__order-link order-link base-link">Записаться на консультацию</a>
    </div>

    <div class="faq__aside">
      <figure class="faq__image base-figure">
        <picture>
          <img srcset="img/image/design/faq-graphic.png 1x, img/image/design/X2-faq-graphic.png 2x" class="faq__img"
            alt="Изображение медицинской процедуры" loading="lazy">
        </picture>
      </figure>

      <a class="faq__whatsup-link base-link" href="#">
        <svg class="faq__whatsup-icon" width="20" height="20">
          <use href="img/icon/sprite.svg#whatsup-icon"></use>
        </svg>
      </a>

      <a class="faq__tel-link base-link" href="#">
        <svg class="faq__tel-icon" width="20" height="20">
          <use href="img/icon/sprite.svg#phone-icon"></use>
        </svg>
      </a>
    </div>
  </div>
</section>

<section class="reviews">
  <div class="reviews__container base-container">
    <h2 class="reviews__title section-title base-title">Отзывы пациентов</h2>
    <div class="reviews__slider swiper">
      <div class="reviews__slider-wrapper swiper-wrapper">
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__item-head">
            <figure class="reviews__item-image base-figure">
              <picture>
                <source srcset="img/image/content/review-item-1.webp 1x, img/image/content/X2-review-item-1.webp 2x"
                  type="image/webp">
                <img srcset="img/image/content/review-item-1.png 1x, img/image/content/X2-review-item-1 2x"
                  class="reviews__item-img" alt="Фото человека, оставившего отзыв" loading="lazy">
              </picture>
            </figure>
            <span class="reviews__item-title">Елизавета
              Константинопольская</span>
          </div>
          <p class="reviews__item-body base-par">Мне очень понравилось как Татьяна Игоревна провела со мной
            консультацию. Было все подробно рассказано, и я, не имея медицинского образования, все понимала, что
            говорила мне врач. После консультации я получила документы и рекомендации. Я обязательно буду рекомендовать
            всем моим знакомым.</p>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__item-head">
            <figure class="reviews__item-image base-figure">
              <picture>
                <source srcset="img/image/content/review-item-1.webp 1x, img/image/content/X2-review-item-1.webp 2x"
                  type="image/webp">
                <img srcset="img/image/content/review-item-1.png 1x, img/image/content/X2-review-item-1 2x"
                  class="reviews__item-img" alt="Фото человека, оставившего отзыв" loading="lazy">
              </picture>
            </figure>
            <span class="reviews__item-title">Елизавета
              Константинопольская</span>
          </div>
          <p class="reviews__item-body base-par">Мне очень понравилось как Татьяна Игоревна провела со мной
            консультацию. Было все подробно рассказано, и я, не имея медицинского образования, все понимала, что
            говорила мне врач. После консультации я получила документы и рекомендации. Я обязательно буду рекомендовать
            всем моим знакомым.</p>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__item-head">
            <figure class="reviews__item-image base-figure">
              <picture>
                <source srcset="img/image/content/review-item-1.webp 1x, img/image/content/X2-review-item-1.webp 2x"
                  type="image/webp">
                <img srcset="img/image/content/review-item-1.png 1x, img/image/content/X2-review-item-1 2x"
                  class="reviews__item-img" alt="Фото человека, оставившего отзыв" loading="lazy">
              </picture>
            </figure>
            <span class="reviews__item-title">Елизавета
              Константинопольская</span>
          </div>
          <p class="reviews__item-body base-par">Мне очень понравилось как Татьяна Игоревна провела со мной
            консультацию. Было все подробно рассказано, и я, не имея медицинского образования, все понимала, что
            говорила мне врач. После консультации я получила документы и рекомендации. Я обязательно буду рекомендовать
            всем моим знакомым.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="questions">
  <div class="questions__container base-container">
    <div class="questions__inner">
      <div class="questions__main">
        <p class="questions__inner-headline base-par">
          Если у вас остались вопросы,
          то вы можете написать администратору
          в Whatsapp
        </p>
        <a href="#" class="questions__whatsup-link whatsup-link base-link">
          <svg class="whatsup-link__icon" width="19" height="19">
            <use href="../img/icon/sprite.svg#whatsup-icon"></use>
          </svg>
          <span class="whatsup-link__caption">Перейти в WhatsApp</span>
        </a>
      </div>
      <div class="questions__aside">
        <figure class="questions__image base-figure">
          <picture>
            <img srcset="img/image/design/questions-graphic.png 1x, img/image/design/X2-questions-graphic.png 2x"
              class="questions__img" alt="Фотография врача" loading="lazy">
          </picture>
        </figure>
      </div>
    </div>
    <a class="questions__whatsup-link base-link" href="#">
      <svg class="questions__whatsup-icon" width="20" height="20">
        <use href="img/icon/sprite.svg#whatsup-icon"></use>
      </svg>
    </a>

    <a class="questions__tel-link base-link" href="#">
      <svg class="questions__tel-icon" width="20" height="20">
        <use href="img/icon/sprite.svg#phone-icon"></use>
      </svg>
    </a>
  </div>
</section>