<header class="page-header">
  <section class="headline">
    <div class="headline__container base-container">
      <figure class="headline__logo-block logo-block base-figure">
        <picture>
          <source srcset="img/image/content/logo.svg" media="(min-width: 1024px)">
          <img srcset="img/image/content/logo-mobile.svg" class="headline__logo-img" alt="Логотип">
        </picture>
      </figure>
      <div class="headline__link-block">
        <a href="#appointment-block" class="headline__order-link order-link base-link" id="head-order">
          <span class="order-link__caption">Консультация онлайн</span>
        </a>
        <a class="headline__whatsup-link whatsup-link base-link" href="https://wa.me/XXXXXXXXXXX" target="_blank"
          rel="noopener noreferrer" id="head-whatsup">
          <svg class="whatsup-link__icon" width="19" height="19">
            <use href="../img/icon/sprite.svg#whatsup-icon"></use>
          </svg>
          <span class="whatsup-link__caption">Перейти в WhatsApp</span>
        </a>
      </div>
      <button class="headline__burger" id="burger">
        <span class="headline__burger-line"></span>
        <span class="headline__burger-line"></span>
        <span class="headline__burger-line"></span>
      </button>
    </div>
  </section>
  <nav class="main-nav" id="main-nav">
    <div class="main-nav__container base-container">
      <ul class="main-nav__list base-list">
        <li class="main-nav__list-item">
          <a class="main-nav__list-link base-link" href="#about-block">О враче</a>
        </li>
        <li class="main-nav__list-item">
          <a class="main-nav__list-link base-link" href="#required-block">Как получить консультацию</a>
        </li>
        <li class="main-nav__list-item">
          <a class="main-nav__list-link base-link" href="#diplomas-block">Дипломы и сертификаты</a>
        </li>
        <li class="main-nav__list-item">
          <a class="main-nav__list-link base-link" href="#faq-block">Вопросы и ответы</a>
        </li>
        <li class="main-nav__list-item">
          <a class="main-nav__list-link base-link" href="#reviews-block">Отзывы пациентов</a>
        </li>
        <li class="main-nav__list-item main-nav__order-item">
          <a class="main-nav__order-link base-link" href="#appointment-block">Консультация онлайн</a>
        </li>
        <li class="main-nav__list-item main-nav__whatsup-item">
          <a class="main-nav__whatsup-link base-link" href="https://wa.me/XXXXXXXXXXX" target="_blank"
            rel="noopener noreferrer">Перейти в WhatsApp</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="heading">
    <div class="heading__top">
      <div class="heading__top-container base-container">
        <h1 class="heading__title base-title">
          Консультация<br><span class="heading__title-highlight">врача гематолога</span>
        </h1>
        <div class="heading__top-info">
          <span class="heading__name">Лобанова Татьяна Игоревна</span>
          <span class="heading__profession">Кандидат медицинских наук</span>
        </div>
      </div>
    </div>
    <div class="heading__bottom">
      <div class="heading__bottom-container base-container">
        <ul class="heading__bottom-list base-list">
          <li class="heading__list-item">Вам никуда не нужно ехать или идти</li>
          <li class="heading__list-item">Высококвалифицированный врач</li>
          <li class="heading__list-item">Быстрое получение результата и назначения</li>
        </ul>
        <div class="heading__bottom-info">
          <a href="#appointment-block" class="heading__order-link order-link base-link">
            <span class="order-link__caption">Записаться на консультацию
          </a>
          <span class="heading__bottom-description">
            Консультации ведутся в онлайн<br>
            форме по воскресеньям по<br>
            WhatsApp
          </span>
        </div>
      </div>
    </div>
    <div class="heading__image-block">
      <div class="heading__image-inner">
        <figure class="heading__photo-image base-figure">
          <picture>
            <source srcset="img/image/content/heading-photo.webp 1x, img/image/content/X2-heading-photo.webp 2x"
              type="image/webp">
            <img srcset="img/image/content/heading-photo.png 1x, img/image/content/X2-heading-photo.png 2x"
              class="heading__photo-img" alt="Фото врача">
          </picture>
        </figure>
        <span class="heading__whatsup-ball whatsup-ball base-link">
          <span class="whatsup-ball__inner">
            <svg class="whatsup-ball__icon" width="23" height="22">
              <use href="img/icon/sprite.svg#whatsup-icon"></use>
            </svg>
          </span>
        </span>
        <div class="heading__experience">
          <div class="heading__experience-headline">
            <span class="heading__experience-title">9+ лет</span>
            <picture>
              <img srcset="img/image/design/heading-fat-love.png 1x, img/image/design/X2-heading-fat-love.png 2x"
                class="heading__experience-img" alt="Изображение сердечка">
            </picture>
          </div>
          <span class="heading__experience-info">Стаж врача гематолога</span>
        </div>
        <div class="heading__patients">
          <div class="heading__patients-inner">
            <img class="heading__patients-love" src="img/image/design/heading-love.svg" width="47" height="47" alt="">
            <picture>
              <img srcset="img/image/design/heading-patients.png 1x, img/image/design/X2-heading-patients.png 2x"
                class="heading__patients-img" alt="Фотографии счастливых пациентов">
            </picture>
            <span class="heading__patients-title">10 000+</span>
            <span class="heading__patients-info">Счастливых пациентов</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>