<section class="heading">
  <div class="heading__container base-container">
    <div class="heading__top">
      <h1 class="heading__title base-title">Консультация<br>врача гематолога</h1>
      <span class="heading__name">Лобанова Татьяна Игоревна</span>
      <span class="heading__profession">Кандидат медицинских наук</span>
    </div>
    <div class="heading__bottom">
      <ul class="heading__bottom-list base-list">
        <li class="heading__bottom-item">Вам никуда не нужно ехать или идти</li>
        <li class="heading__bottom-item">Высококвалифицированный врач</li>
        <li class="heading__bottom-item">Быстрое получение результата и назначения</li>
      </ul>
      <div class="heading__bottom-info">
        <a href="#" class="heading__order-link order-link base-link">Записаться на консультацию</a>
        <span class="heading__bottom-description">
          Консультации ведутся в онлайн<br>
          форме по воскресеньям по<br>
          WhatsApp
        </span>
      </div>
    </div>
  </div>
</section>

<section class="guide">
  <div class="guide__container base-container">
    <h2 class="guide__title section-title base-title">Как проходит консультация врача</h2>
    <div class="guide__inner">
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure"><img src="" alt="" class="guide__item-img"></figure>
        <span class="guide__item-title">Изучение анализов</span>
        <span class="guide__item-info">
          Я предварительно изучаю<br>
          ваши анализы и собираю<br>
          анамнез
        </span>
      </div>
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure"><img src="" alt="" class="guide__item-img"></figure>
        <span class="guide__item-title">Созвон с пациентом</span>
        <span class="guide__item-info">
          Мы с вами созваниваемся в<br>
          выбранное вами время
        </span>
      </div>
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure"><img src="" alt="" class="guide__item-img"></figure>
        <span class="guide__item-title">План лечения</span>
        <span class="guide__item-info">
          На консультации я назначаю<br>
          вам план лечения либо<br>дообследование
        </span>
      </div>
      <div class="guide__inner-item">
        <figure class="guide__item-image base-figure"><img src="" alt="" class="guide__item-img"></figure>
        <span class="guide__item-title">Рекомендации по email</span>
        <span class="guide__item-info">
          Через 1-2 дня вам на почту<br>
          приходит конспект нашей<br>
          беседы и рекомендации в<br>
          письменном виде
        </span>
      </div>
    </div>
  </div>
</section>

<section class="appointment">
  <div class="appointment__container base-container">
    <div class="appointment__inner">
      <h2 class="appointment__title section-title base-title">Запишись на консультацию сейчас</h2>
      <form action="#" class="appointment__form">
        <div class="appointment__formset">
          <span class="appointment__formset-caption">Выберите вид консультации на которую вы хотите записаться</span>
          <div class="appointment__radio-item">
            <input type="radio" class="appointment__radio-hidden" name="appointment__radio" id="appointment__radio--one"
              value="first_consult">
            <span class="appointment__radio-shown"></span>
            <label for="appointment__radio--one" class="appointment__radio-title">Первичный прием</label>
            <span class="appointment__radio-price">4 000 ₽</span>
          </div>
          <div class="appointment__radio-item">
            <input type="radio" class="appointment__radio-hidden" name="appointment__radio" id="appointment__radio--two"
              value="second_consult">
            <span class="appointment__radio-shown"></span>
            <label for="appointment__radio--two" class="appointment__radio-title">Вторичный прием</label>
            <span class="appointment__radio-price">3 000 ₽</span>
          </div>
          <div class="appointment__radio-item">
            <input type="radio" class="appointment__radio-hidden" name="appointment__radio"
              id="appointment__radio--three" value="english_consult">
            <span class="appointment__radio-shown"></span>
            <label for="appointment__radio--three" class="appointment__radio-title">English speaking
              patient<br>consultation</label>
            <span class="appointment__radio-price">6 000 ₽</span>
          </div>
        </div>
        <div class="appointment__formset">
          <div class="appointment__formset-item">
            <label for="appointment__name-input" class="appointment__formset-label">Ваше имя</label>
            <input type="text" class="appointment__formset-input" id="appointment__name-input"
              placeholder="Напишите ваше имя">
          </div>
          <div class="appointment__formset-item">
            <label for="appointment__phone-input" class="appointment__formset-label">Ваш телефон</label>
            <input type="tel" class="appointment__formset-input" id="appointment__phone-input"
              placeholder="+7 (___) ___-__-__">
          </div>
          <div class="appointment__formset-item">
            <label for="appointment__email-input" class="appointment__formset-label">Ваш email</label>
            <input type="email" class="appointment__formset-input" id="appointment__email-input"
              placeholder="info@mail.ru">
          </div>
        </div>
        <div class="appointment__formset">
          <span class="appointment__formset-caption">Прикрепите ваши анализы (не более 10)</span>
        </div>
        <button class="appointment__order-button order-button base-button" type="submit">
          <span class="order-button__caption">Выбрать дату и оплатить</span>
        </button>
        <div class="appointment__formset">
          <span class="appointment__user-caption">
            Отправляя данную форму, вы принимаете условие <a class="appointment__user-link base-link"
              href="#">пользовательского соглашения</a>
          </span>
        </div>
      </form>
      <div class="modal">
        <div class="modal__inner">
          <button class="modal__close-button base-button"></button>
          <h3 class="modal__title base-title">Запись на первичный прием</h3>
          <span class="modal__info">Консультация ведется в онлайн форме<br> по воскресеньям по WhatsApp</span>
          <div class="modal__calendar"></div>
          <div class="modal__timepicker">
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="10:00">
              <span class="modal__radio-shown">10:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="11:00">
              <span class="modal__radio-shown">11:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="12:00">
              <span class="modal__radio-shown">12:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="13:00">
              <span class="modal__radio-shown">13:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="15:00">
              <span class="modal__radio-shown">15:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="16:00">
              <span class="modal__radio-shown">16:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="17:00">
              <span class="modal__radio-shown">17:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="18:00">
              <span class="modal__radio-shown">18:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="19:00">
              <span class="modal__radio-shown">19:00</span>
            </div>
            <div class="modal__time-item">
              <input type="radio" class="modal__radio-hidden" name="modal__radio" value="20:00">
              <span class="modal__radio-shown">20:00</span>
            </div>
          </div>
          <span class="modal__pay">К оплате <span class="modal__money" id="modal__sum">6 000</span> ₽</span>
          <button class="modal__submit-button base-button" type="submit">Оплатить</button>
          <button class="modal__cancel button base-button" type="reset">Отменить</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="about__container base-container">
    <div class="about__slider swiper">
      <div class="about__slider-wrapper swiper-wrapper">
        <div class="about__slider-item swiper-slide">
          <figure class="about__item-image base-figure"><img src="#" alt="" class="about__item-img"></figure>
          <h3 class="about__sitem-title base-title">О враче гематологе</h3>
          <p class="about__item-info base-par">
            <span class="about__info-part">
              Гематология – это раздел медицины, изучающий работу кровеносной системы. Сегодня около 8% всех заболеваний
              приходится на органы кроветворения.
            </span>
            <span class="about__info-part">Гематолог – врач, занимающийся диагностикой, выявлением и лечением
              заболеваний крови. Гематолог ведет как детский, так и взрослый прием.
            </span>
            <span class="about__info-part">Современные методики и инновационные разработки позволяют
              диагностировать заболевания на ранних этапах возникновения без явных клинических проявлений.</span>
          </p>
        </div>
      </div>
    </div>
    <div class="about__tabs">
      <nav class="about__tabs-nav">
        <a href="#tabs_item_01" class="about__nav-link base-link">Образование</a>
        <a href="#tabs_item_02" class="about__nav-link base-link">Повышение квалификации</a>
        <a href="#tabs_item_03" class="about__nav-link base-link">Звания, членства, награды</a>
        <a href="#tabs_item_04" class="about__nav-link base-link">Опыт работы</a>
      </nav>
      <div class="about__tabs-body">
        <div class="about__tabs-item" id="tabs_item_01">
          <h4 class="about__item-title base-title">Образование</h4>
          <ul class="about__item-list base-list">
            <li class="about__item-value">
              2012 г. – лечебное дело, Первый Московский Государственный<br>
              Медицинский Университет им. И.М. Сеченова, Москва
            </li>
            <li class="about__item-value">
              2013 г. – интернатура по терапии, Первый Московский<br>
              Государственный Медицинский Университет им. И.М. Сеченова, Москва
            </li>
            <li class="about__item-value">
              2015 г. – ординатура по специальности “Гематология”,<br>
              Гематологический научный центр Российской академии медицинских наук, Москва
            </li>
            <li class="about__item-value">
              2016 г. – повышение квалификации “Психосоматические<br>
              расстройства”, ПМГМУ им. И.М. Сеченова
            </li>
            <li class="about__item-value">
              2016 г. – сертификат “Основы клинической трансфузиологии”, ФГБУ<br>
              дополнительного профессионального образования
            </li>
            <li class="about__item-value">
              2018 г. – аспирантура “Гематология и переливание крови”,<br>
              Гематологический научный центр Российской академии медицинских наук, Москва
            </li>
          </ul>
        </div>
        <div class="about__tabs-item" id="tabs_item_02"></div>
        <div class="about__tabs-item" id="tabs_item_03"></div>
        <div class="about__tabs-item" id="tabs_item_04"></div>
      </div>
    </div>
    <div class="about__motto">
      <h3 class="about__motto-title base-title">Врач – это не профессия, а образ жизни</h3>
      <p class="about__motto-info base-par">Доктором может быть не каждый. Это действительно призвание. Эта профессия
        подходит тем, кто искренне хочет помогать людям, кто умеет сопереживать. Если все эти качества соединены в одном
        человеке, то у него есть шанс стать настоящим Врачом с большой буквы.</p>
    </div>
  </div>
</section>

<section class="required">
  <div class="required__container base-container">
    <div class="required__aside">
      <figure class="required__image base-figure">
        <img src="" alt="" class="required__img">
      </figure>
    </div>
    <div class="required__main">
      <h2 class="required__title section-title base-title">Что нужно для получения консультации</h2>
      <span class="required__info">Для консультации врача гематолога необходимо иметь:</span>
      <ul class="required__list base-list">
        <li class="required__list-item">Данные предыдущих выписок;</li>
        <li class="required__list-item">Данные «недавних» анализов крови;</li>
        <li class="required__list-item">Четко сформулированная проблема;</li>
        <li class="required__list-item">Согласие на онлайн консультацию;</li>
        <li class="required__list-item">Оплаченная запись и ее подтверждение.</li>
      </ul>
      <a href="#" class="required__order-link order-link base-link">Записаться на консультацию</a>
    </div>
  </div>
</section>

<section class="diplomas">
  <div class="diplomas__container base-container">
    <h2 class="diplomas__title base-title">Дипломы и сертификаты</h2>
    <div class="diplomas__slider swiper">
      <div class="diplomas__slider-wrapper swiper-wrapper">
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure"><img src="" alt="" class="diplomas__item-img"></figure>
        </div>
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure"><img src="" alt="" class="diplomas__item-img"></figure>
        </div>
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure"><img src="" alt="" class="diplomas__item-img"></figure>
        </div>
        <div class="diplomas__slider-item swiper-slide">
          <figure class="diplomas__item-image base-figure"><img src="" alt="" class="diplomas__item-img"></figure>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="faq">
  <div class="faq__container base-container">
    <div class="faq__main">
      <h2 class="faq__title base-title">О чем часто спрашивают</h2>
      <div class="faq__spoilers">
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Как будет проходить консультация?</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Можно ли записаться на консультацию если нет
            анализов?</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Есть ли особые рекомендации перед
            консультацией врача – гематолога</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Может ли врач после консультации дать
            направление на лечение в какую-либо клинику?</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Можно ли получить консультация врача –
            гематолога во время беременности</button>
          <div class=" faq__item-body"></div>
        </div>
        <div class="faq__spoilers-item">
          <button class="faq__item-headline base-button" type="button">Как можно отменить уже оплаченную
            консультацию?</button>
          <div class=" faq__item-body"></div>
        </div>
      </div>
      <a href="#" class="faq__order-link order-link base-link">Записаться на консультацию</a>
    </div>
  </div>
</section>

<section class="reviews">
  <div class="reviews__container base-container">
    <h2 class="reviews__title section-title base-title">Отзывы пациентов</h2>
    <div class="reviews__slider swiper">
      <div class="reviews__slider-wrapper swiper-wrapper">
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__item-head">
            <figure class="reviews__item-image base-figure"><img src="" alt="" class="reviews__item-img"></figure>
            <span class="reviews__item-title">Елизавета
              Константинопольская</span>
          </div>
          <p class="reviews__item-body base-par">Мне очень понравилось как Татьяна Игоревна провела со мной
            консультацию. Было все подробно рассказано, и я, не имея медицинского образования, все понимала, что
            говорила мне врач. После консультации я получила документы и рекомендации. Я обязательно буду рекомендовать
            всем моим знакомым.</p>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__item-head">
            <figure class="reviews__item-image base-figure"><img src="" alt="" class="reviews__item-img"></figure>
            <span class="reviews__item-title">Елизавета
              Константинопольская</span>
          </div>
          <p class="reviews__item-body base-par">Мне очень понравилось как Татьяна Игоревна провела со мной
            консультацию. Было все подробно рассказано, и я, не имея медицинского образования, все понимала, что
            говорила мне врач. После консультации я получила документы и рекомендации. Я обязательно буду рекомендовать
            всем моим знакомым.</p>
        </div>
        <div class="reviews__slider-item swiper-slide">
          <div class="reviews__item-head">
            <figure class="reviews__item-image base-figure"><img src="" alt="" class="reviews__item-img"></figure>
            <span class="reviews__item-title">Елизавета
              Константинопольская</span>
          </div>
          <p class="reviews__item-body base-par">Мне очень понравилось как Татьяна Игоревна провела со мной
            консультацию. Было все подробно рассказано, и я, не имея медицинского образования, все понимала, что
            говорила мне врач. После консультации я получила документы и рекомендации. Я обязательно буду рекомендовать
            всем моим знакомым.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="questions">
  <div class="questions__container base-container">
    <div class="questions__inner">
      <p class="questions__inner-headline">
        Если у вас остались вопросы,
        то вы можете написать администратору
        в Whatsapp
      </p>
      <a href="#" class="questions__whatsup-link whatsup-link base-link">Перейти в WhatsApp</a>
    </div>
  </div>
</section>