<footer class="page-footer">
  <section class="footer-heading">
    <div class="footer-heading__container base-container">
      <figure class="footer-heading__logo-block logo-block base-figure">
        <img class="logo-block__img" src="img/image/content/logo.svg" width="194" height="59" alt="Логотип с сердцем">
      </figure>
      <div class="footer-heading__desc">
        <span class="footer-heading__desc-top">Консультация врача<br> гематолога</span>
        <span class="footer-heading__desc-bottom">Кандидат медицинских наук</span>
      </div>
      <div class="footer-heading__info">
        <span class="footer-heading__info-top">
          Запись ведется в онлайн форме<br>по WhatsApp, а также очно<br>в НКЦПГ им. А.А. Шмидта.
        </span>
        <a href="#" class="footer-heading__file-loader base-link">
          <svg class="footer-heading__file-icon" width="17" height="21">
            <use href="img/icon/sprite.svg#file-icon"></use>
          </svg>
          <span class="footer-heading__file-caption">Информированное добровольное согласие *.pdf</span>
        </a>
        <a href="#" class="footer-heading__file-loader base-link">
          <svg class="footer-heading__file-icon" width="17" height="21">
            <use href="img/icon/sprite.svg#file-icon"></use>
          </svg>
          <span class="footer-heading__file-caption">Оферта *.pdf</span>
        </a>
      </div>
    </div>
  </section>

  <section class="footer-underline">
    <div class="footer-underline__container base-container">
      <a href="#" class="footer-underline__policy-link base-link">Политика конфиденциальности</a>
      <span class="footer-underline__copyright">Copyright © 2021</span>
      <a class="footer-underline__credits-link base-link" href="https://is-art.ru" target="_blank"
        rel="noopener noreferrer">
        <span class="footer-underline__credits-caption">Разработано</span>
        <svg class="footer-underline__credits-icon" width="53" height="21">
          <use href="img/icon/sprite.svg#isart-logo-icon"></use>
        </svg>
      </a>
    </div>
  </section>
</footer>