<main class="page-content">
  <section class="guide">
    <img class="guide__graphic guide__graphic--left" src="img/image/design/guide-graphic-left.png" loading="lazy">
    <img class="guide__graphic guide__graphic--right" src="img/image/design/guide-graphic-right.png" loading="lazy">
    <img class="guide__graphic guide__graphic--top" src="img/image/design/guide-graphic-top.png" loading="lazy">
    <div class="guide__container base-container">
      <h2 class="guide__title section-title base-title">Как проходит консультация врача</h2>
      <div class="guide__inner">
        <div class="guide__inner-item">
          <figure class="guide__item-image base-figure">
            <picture>
              <img srcset="img/image/design/guide-item-1.png 1x, img/image/design/X2-guide-item-1.png 2x"
                class="guide__item-img" alt="Изображение гаджетов и стетоскопа" loading="lazy">
            </picture>
          </figure>
          <span class="guide__item-title">Изучение анализов</span>
          <span class="guide__item-info">
            Я предварительно изучаю<br>
            ваши анализы и собираю<br>
            анамнез
          </span>
        </div>
        <div class="guide__inner-item">
          <figure class="guide__item-image base-figure">
            <picture>
              <img srcset="img/image/design/guide-item-2.png 1x, img/image/design/X2-guide-item-2.png 2x"
                class="guide__item-img" alt="Изображение смартфона">
            </picture>
          </figure>
          <span class="guide__item-title">Созвон с пациентом</span>
          <span class="guide__item-info">
            Мы с вами созваниваемся в<br>
            выбранное вами время
          </span>
        </div>
        <div class="guide__inner-item">
          <figure class="guide__item-image base-figure">
            <picture>
              <img srcset="img/image/design/guide-item-3.png 1x, img/image/design/X2-guide-item-3.png 2x"
                class="guide__item-img" alt="Изображение бумажного планшета и стетоскопа">
            </picture>
          </figure>
          <span class="guide__item-title">План лечения</span>
          <span class="guide__item-info">
            На консультации я назначаю<br>
            вам план лечения либо<br>дообследование
          </span>
        </div>
        <div class="guide__inner-item">
          <figure class="guide__item-image base-figure">
            <picture>
              <img srcset="img/image/design/guide-item-4.png 1x, img/image/design/X2-guide-item-4.png 2x"
                class="guide__item-img" alt="Изображение символа электронной почты">
            </picture>
          </figure>
          <span class="guide__item-title">Рекомендации по email</span>
          <span class="guide__item-info">
            Через 1-2 дня вам на почту<br>
            приходит конспект нашей<br>
            беседы и рекомендации в<br>
            письменном виде
          </span>
        </div>
      </div>
    </div>
  </section>

  <section class="appointment" id="appointment-form">
    <div class="appointment__container base-container">
      <div class="appointment__inner">
        <h2 class="appointment__title section-title base-title">Запишись на консультацию сейчас</h2>
        <form action="http://foo.com" method="post" class="appointment__form">
          <div class="appointment__type">
            <span class="appointment__type-caption">Выберите вид консультации на которую вы хотите записаться</span>
            <div class="appointment__type-body">
              <div class="appointment__type-item">
                <input type="radio" class="appointment__hidden-type visually-hidden" id="appointment-type-radio-1"
                  value="4000" name="appointment-type-radio" checked>
                <label class="appointment__type-label" for="appointment-type-radio-1">
                  <span class="appointment__shown-radio">
                    <svg class="appointment__check-icon check-icon" width="12" height="12">
                      <use href="img/icon/sprite.svg#check-icon"></use>
                    </svg>
                  </span>
                  <span class="appointment__item-caption">Первичный приём</span>
                  <span class="appointment__item-price">4 000 ₽</span>
                </label>
              </div>
              <div class="appointment__type-item">
                <input type="radio" class="appointment__hidden-type visually-hidden" id="appointment-type-radio-2"
                  value="3000" name="appointment-type-radio">
                <label class="appointment__type-label" for="appointment-type-radio-2">
                  <span class="appointment__shown-radio">
                    <svg class="appointment__check-icon check-icon" width="12" height="12">
                      <use href="img/icon/sprite.svg#check-icon"></use>
                    </svg>
                  </span>
                  <span class="appointment__item-caption">Вторичный прием</span>
                  <span class="appointment__item-price">3 000 ₽</span>
                </label>
              </div>
              <div class="appointment__type-item">
                <input type="radio" class="appointment__hidden-type visually-hidden" id="appointment-type-radio-3"
                  value="6000" name="appointment-type-radio">
                <label class="appointment__type-label" for="appointment-type-radio-3">
                  <span class="appointment__shown-radio">
                    <svg class="appointment__check-icon check-icon" width="12" height="12">
                      <use href="img/icon/sprite.svg#check-icon"></use>
                    </svg>
                  </span>
                  <span class="appointment__item-caption">English speaking patient<br class="appointment__breakpoint">
                    consultation</span>
                  <span class="appointment__item-price">6 000 ₽</span>
                </label>
              </div>
            </div>
          </div>
          <div class="appointment__info">
            <div class="appointment__info-item">
              <label class="appointment__info-label" for="appointment-name">Ваше имя</label>
              <input class="appointment__info-input" type="text" id="appointment-name" placeholder="Напишите ваше имя"
                required>
            </div>
            <div class="appointment__info-item">
              <label class="appointment__info-label" for="appointment-phone">Ваш телефон</label>
              <input class="appointment__info-input" type="tel" id="appointment-phone" placeholder="+7 (___) ___-__-__"
                required>
            </div>
            <div class="appointment__info-item">
              <label class="appointment__info-label" for="appointment-email">Ваш email</label>
              <input class="appointment__info-input" type="email" id="appointment-email" placeholder="info@mail.ru"
                required>
            </div>
          </div>
          <div class="appointment__attach">
            <span class="appointment__attach-caption">
              Прикрепите ваши анализы <br class="appointment__breakpoint">(не более 10)
            </span>
            <ul class="appointment__attach-list base-list" id="attach-list">
              <input class="appointment__attach-hidden visually-hidden" type="file" multiple accept=".jpg,.jpeg,.png"
                id="attach-input">
              <button class="appointment__attach-button base-button" type="button" id="attach-button">
                <svg class="appointment__button-icon check-icon" width="28" height="24">
                  <use href="img/icon/sprite.svg#camera-icon"></use>
                </svg>
                <span class="appointment__button-caption">Добавить фото</span>
              </button>
            </ul>
          </div>
          <button class="appointment__order-button base-button" type="button" id="appointment-modal-open">
            <span class="appointment__order-caption">Выбрать дату и оплатить</span>
          </button>
          <div class="appointment__modal" id="appointment-modal-popup">
            <div class="appointment__modal-wrapper">
              <button class="appointment__modal-close base-button" type="button" id="appointment-modal-close"></button>
              <span class="appointment__modal-title">Запись на первичный прием</span>
              <span class="appointment__modal-info">Консультация ведется в онлайн форме по воскресеньям по WhatsApp</span>
              <div class="appointment__modal-date" id="appointment-modal-date">
                <input class="appointment__hidden-date visually-hidden" type="date" id="appointment-date-input">
              </div>  
              <div class="appointment__modal-time">
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-10" value="10:00">
                  <label for="appointment-time-radio-10" class="appointment__time-radio">10:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-11" value="11:00">
                  <label for="appointment-time-radio-11" class="appointment__time-radio">11:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-12" value="12:00">
                  <label for="appointment-time-radio-12" class="appointment__time-radio">12:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-13" value="13:00">
                  <label for="appointment-time-radio-13" class="appointment__time-radio">13:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-15" value="15:00">
                  <label for="appointment-time-radio-15" class="appointment__time-radio">15:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-16" value="16:00">
                  <label for="appointment-time-radio-16" class="appointment__time-radio">16:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-17" value="17:00">
                  <label for="appointment-time-radio-17" class="appointment__time-radio">17:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-18" value="18:00">
                  <label for="appointment-time-radio-18" class="appointment__time-radio">18:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-19" value="19:00">
                  <label for="appointment-time-radio-19" class="appointment__time-radio">19:00</label>
                </div>
                <div class="appointment__time-item">
                  <input class="appointment__time-hidden visually-hidden" type="radio" name="appointment-time-radio" id="appointment-time-radio-20" value="20:00">
                  <label for="appointment-time-radio-20" class="appointment__time-radio">20:00</label>
                </div>
              </div>    
              <span class="appointment__pricetag">К оплате <span class="appointment__pricetag-result" id="appointment-pricetag-result">4000</span> ₽</span> 
              <input class="appointment__form-submit base-button" type="submit" value="Оплатить" id="appointment-form-submit"></input>
              <input class="appointment__form-reset base-button" type="reset" value="Отменить" id="appointment-form-reset"></input>     
            </div>
          </div>
          <div class="appointment__terms">
            <input class="appointment__terms-hidden visually-hidden" type="checkbox" id="appointment-terms-of-use"
              value="terms-checked" value="terms-checked" checked>
            <label class="appointment__terms-label" for="appointment-terms-of-use">
              <span class="appointment__terms-shown">
                <svg class="appointment__terms-check check-icon" width="15" height="15">
                  <use href="img/icon/sprite.svg#check-icon"></use>
                </svg>
              </span>
              <span class="appointment__terms-caption">
                Отправляя данную форму, вы принимаете условие <a class="appointment__terms-link base-link"
                  href="#">пользовательского соглашения</a>
              </span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </section>

  <section class="about" id="about-block">
    <div class="about__container base-container">
      <article class="about__info-block">
        <div class="about__info-slider swiper">
          <div class="about__slider-wrapper swiper-wrapper">
            <div class="about__slider-item swiper-slide">
              <picture>
                <img srcset="img/image/design/about-slide-1.png 1x, img/image/design/X2-about-slide-1.png 2x"
                  class="about__slider-img" alt="Фотография ампул" loading="lazy">
              </picture>
            </div>
            <div class="about__slider-item swiper-slide">
              <picture>
                <img srcset="img/image/design/about-slide-1.png 1x, img/image/design/X2-about-slide-1.png 2x"
                  class="about__slider-img" alt="Фотография ампул" loading="lazy">
              </picture>
            </div>
            <div class="about__slider-item swiper-slide">
              <picture>
                <img srcset="img/image/design/about-slide-1.png 1x, img/image/design/X2-about-slide-1.png 2x"
                  class="about__slider-img" alt="Фотография ампул" loading="lazy">
              </picture>
            </div>
          </div>
          <div class="about__slider-navigation">
            <div class="about__slider-button about__slider-button--prev swiper-button-prev">
              <svg class="about__slider-icon slider-icon" width="12" height="20">
                <use href="img/icon/sprite.svg#arrow-icon"></use>
              </svg>
            </div>
            <div class="about__slider-button about__slider-button--next swiper-button-next">
              <svg class="about__slider-icon slider-icon" width="12" height="20">
                <use href="img/icon/sprite.svg#arrow-icon"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="about__info-body">
          <h2 class="about__info-title section-title__article-block base-title">О враче гематологе</h2>
          <p class="about__info-text base-par">
            <span class="about__info-part">
              Гематология – это раздел медицины, изучающий работу
              кровеносной системы. Сегодня около 8% всех заболеваний
              приходится на органы кроветворения.
            </span>
            <span class="about__info-part">
              Гематолог – врач, занимающийся диагностикой, выявлением
              и лечением заболеваний крови. Гематолог ведет как детский,
              так и взрослый прием.
            </span>
            <span class="about__info-part">
              Современные методики и инновационные разработки позволяют
              диагностировать заболевания на ранних этапах возникновения
              без явных клинических проявлений.
            </span>
          </p>
        </div>
      </article>
      <div class="about__tabs">
        <input class="about__radio-hidden visually-hidden" type="radio" id="tabs-radio-1" name="tabs-radio" checked>
        <label class="about__tabs-button" for="tabs-radio-1">Образование</label>
        <input class="about__radio-hidden visually-hidden" type="radio" id="tabs-radio-2" name="tabs-radio">
        <label class="about__tabs-button" for="tabs-radio-2">Повышение квалификации</label>
        <input class="about__radio-hidden visually-hidden" type="radio" id="tabs-radio-3" name="tabs-radio">
        <label class="about__tabs-button" for="tabs-radio-3">Звания, членства, награды</label>
        <input class="about__radio-hidden visually-hidden" type="radio" id="tabs-radio-4" name="tabs-radio">
        <label class="about__tabs-button about__tabs-button--4" for="tabs-radio-4">Опыт работы</label>
        <div class="about__tabs-body">
          <div class="about__tabs-item about__tabs-radio--1">
            <span class="about__tabs-title">Образование</span>
            <ul class="about__tabs-list base-list">
              <li class="about__tabs-value">2012 г. – лечебное дело, Первый Московский Государственный Медицинский
                Университет им. И.М. Сеченова, Москва</li>
              <li class="about__tabs-value">2013 г. – интернатура по терапии, Первый Московский Государственный
                Медицинский Университет им. И.М. Сеченова, Москва</li>
              <li class="about__tabs-value">2015 г. – ординатура по специальности “Гематология”, Гематологический
                научный центр Российской академии медицинских наук, Москва</li>
              <li class="about__tabs-value">2016 г. – повышение квалификации “Психосоматические расстройства”, ПМГМУ им.
                И.М. Сеченова</li>
              <li class="about__tabs-value">2016 г. – сертификат “Основы клинической трансфузиологии”, ФГБУ
                дополнительного профессионального образования</li>
              <li class="about__tabs-value">2018 г. – аспирантура “Гематология и переливание крови”, Гематологический
                научный центр Российской академии медицинских наук, Москва</li>
            </ul>
          </div>
          <div class="about__tabs-item about__tabs-radio--2">
            <span class="about__tabs-title">Повышение квалификации</span>
            <ul class="about__tabs-list base-list">
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
            </ul>
          </div>
          <div class="about__tabs-item about__tabs-radio--3">
            <span class="about__tabs-title">Звания, членства, награды</span>
            <ul class="about__tabs-list base-list">
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
            </ul>
          </div>
          <div class="about__tabs-item about__tabs-radio--4">
            <span class="about__tabs-title">Опыт работы</span>
            <ul class="about__tabs-list base-list">
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
              <li class="about__tabs-value"></li>
            </ul>
          </div>
        </div>
      </div>
      <article class="about__motto">
        <h3 class="about__motto-title section-title__article-block base-title">Врач – это не профессия, а образ жизни
        </h3>
        <p class="about__motto-info base-par">
          Доктором может быть не каждый. Это действительно призвание. Эта профессия
          подходит тем, кто искренне хочет помогать людям, кто умеет сопереживать.
          Если все эти качества соединены в одном человеке, то у него есть шанс
          стать настоящим Врачом с большой буквы.
        </p>
      </article>
    </div>
  </section>

  <section class="required" id="required-block">
    <div class="required__container base-container">
      <div class="required__aside">
        <figure class="required__image base-figure">
          <picture>
            <img srcset="img/image/design/required-graphic.png 1x, img/image/design/X2-required-graphic.png 2x"
              class="required__img" alt="Изображение эритроцитов" loading="lazy">
          </picture>
          <span class="required__whatsup-ball whatsup-ball">
            <span class="whatsup-ball__inner">
              <svg class="whatsup-ball__icon" width="36" height="36">
                <use href="img/icon/sprite.svg#whatsup-icon"></use>
              </svg>
            </span>
          </span>
          <span class="required__phone-ball phone-ball">
            <svg class="phone-ball__icon" width="30" height="30">
              <use href="img/icon/sprite.svg#phone-icon"></use>
            </svg>
          </span>
        </figure>
      </div>
      <div class="required__main">
        <h2 class="required__title section-title base-title">Что нужно для получения консультации</h2>
        <span class="required__info">Для консультации врача гематолога необходимо иметь:</span>
        <ul class="required__list base-list">
          <li class="required__list-item">Данные предыдущих выписок;</li>
          <li class="required__list-item">Данные «недавних» анализов крови;</li>
          <li class="required__list-item">Четко сформулированная проблема;</li>
          <li class="required__list-item">Согласие на онлайн консультацию;</li>
          <li class="required__list-item">Оплаченная запись и ее подтверждение.</li>
        </ul>
        <a class="required__order-link order-link base-link" href="#appointment-form">
          <span class="order-link__caption">Записаться на консультацию</span>
        </a>
      </div>
    </div>
  </section>

  <section class="diplomas" id="diplomas-block">
    <div class="diplomas__container base-container">
      <h2 class="diplomas__title section-title__slider-block base-title">Дипломы и сертификаты</h2>
      <div class="diplomas__slider swiper">
        <div class="diplomas__slider-wrapper swiper-wrapper">
          <div class="diplomas__slider-item swiper-slide">
            <a href="img/image/content/X2-diplomas-item-1.jpg" class="glightbox" zoomable: true>
              <figure class="diplomas__item-image base-figure">
                <picture>
                  <source
                    srcset="img/image/content/diplomas-item-1.webp 1x, img/image/content/X2-diplomas-item-1.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/diplomas-item-1.jpg 1x, img/image/content/X2-diplomas-item-1.jpg 2x"
                    class="diplomas__item-img" alt="Скан диплома об окончании аспирантуры" loading="lazy">
                </picture>
              </figure>
            </a>
          </div>
          <div class="diplomas__slider-item swiper-slide">
            <a href="img/image/content/X2-diplomas-item-2.jpg" class="glightbox" zoomable: true>
              <figure class="diplomas__item-image base-figure">
                <picture>
                  <source
                    srcset="img/image/content/diplomas-item-2.webp 1x, img/image/content/X2-diplomas-item-2.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/diplomas-item-2.jpg 1x, img/image/content/X2-diplomas-item-2.jpg 2x"
                    class="diplomas__item-img" alt="Скан сертификата специалиста" loading="lazy">
                </picture>
              </figure>
            </a>
          </div>
          <div class="diplomas__slider-item swiper-slide">
            <a href="img/image/content/X2-diplomas-item-3.jpg" class="glightbox" zoomable: true>
              <figure class="diplomas__item-image base-figure">
                <picture>
                  <source
                    srcset="img/image/content/diplomas-item-3.webp 1x, img/image/content/X2-diplomas-item-3.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/diplomas-item-3.png 1x, img/image/content/X2-diplomas-item-3.jpg 2x"
                    class="diplomas__item-img" alt="Скан диплома ординатуры" loading="lazy">
                </picture>
              </figure>
            </a>
          </div>
          <div class="diplomas__slider-item swiper-slide">
            <a href="img/image/content/X2-diplomas-item-4.jpg" class="glightbox" zoomable: true>
              <figure class="diplomas__item-image base-figure">
                <picture>
                  <source
                    srcset="img/image/content/diplomas-item-4.webp 1x, img/image/content/X2-diplomas-item-4.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/diplomas-item-4.jpg 1x, img/image/content/X2-diplomas-item-4.jpg 2x"
                    class="diplomas__item-img" alt="Скан приложения к диплому" loading="lazy">
                </picture>
              </figure>
            </a>
          </div>
        </div>
        <div class="diplomas__slider-navigation">
          <div class="diplomas__slider-button diplomas__slider-button--prev swiper-button-prev">
            <svg class="diplomas__slider-icon slider-icon" width="11" height="17">
              <use href="img/icon/sprite.svg#arrow-icon"></use>
            </svg>
          </div>
          <div class="diplomas__slider-button diplomas__slider-button--next swiper-button-next">
            <svg class="diplomas__slider-icon slider-icon" width="11" height="17">
              <use href="img/icon/sprite.svg#arrow-icon"></use>
            </svg>
          </div>
        </div>
        <div class="diplomas__slider-pagination swiper-pagination"></div>
      </div>
    </div>
  </section>

  <section class="faq" id="faq-block">
    <div class="faq__container base-container">
      <div class="faq__main">
        <h2 class="faq__title section-title base-title">О чём часто спрашивают</h2>
        <div class="faq__spoilers">
          <div class="faq__spoilers-item">
            <input class="faq__check-hidden visually-hidden" type="checkbox" id="spoilers-check-1">
            <label class="faq__spoilers-button" for="spoilers-check-1">
              <span class="faq__spoilers-caption">Как будет проходить консультация?</span>
              <div class="faq__spoilers-cross"></div>
            </label>
            <div class="faq__spoilers-content">
              Lorem ipsum, dolor sit amet consectetur
              adipisicing elit. Consequatur veritatis porro
              voluptates exercitationem maxime veniam nesciunt
              nobis doloribus quae totam doloremque nihil, voluptate
              rem voluptatibus, laboriosam, ea quo culpa quaerat.
            </div>
          </div>
          <div class="faq__spoilers-item">
            <input class="faq__check-hidden visually-hidden" type="checkbox" id="spoilers-check-2">
            <label class="faq__spoilers-button" for="spoilers-check-2">
              <span class="faq__spoilers-caption">Можно ли записаться на консультацию если нет анализов?</span>
              <div class="faq__spoilers-cross"></div>
            </label>
            <div class="faq__spoilers-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Saepe ratione ipsum natus eum sapiente similique qui quasi
              accusantium asperiores ad!
            </div>
          </div>
          <div class="faq__spoilers-item">
            <input class="faq__check-hidden visually-hidden" type="checkbox" id="spoilers-check-3">
            <label class="faq__spoilers-button" for="spoilers-check-3">
              <span class="faq__spoilers-caption">Есть ли особые рекомендации перед консультацией врача –
                гематолога</span>
              <div class="faq__spoilers-cross"></div>
            </label>
            <div class="faq__spoilers-content">Lorem ipsum dolor
              sit amet consectetur adipisicing elit. Iure nobis
              fuga nam quo, facilis ipsum. Quidem inventore nesciunt quis,
              adipisci dolorum facere labore enim voluptas quibusdam delectus
              et voluptatibus hic quia fuga sit, optio totam minus minima error
              suscipit. Culpa cum deserunt quaerat dolorem ducimus eum blanditiis
              quasi officiis dicta.
            </div>
          </div>
          <div class="faq__spoilers-item">
            <input class="faq__check-hidden visually-hidden" type="checkbox" id="spoilers-check-4">
            <label class="faq__spoilers-button" for="spoilers-check-4">
              <span class="faq__spoilers-caption">Может ли врач после консультации дать направление на лечение в
                какую-либо клинику?</span>
              <div class="faq__spoilers-cross"></div>
            </label>
            <div class="faq__spoilers-content">
              Lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="faq__spoilers-item">
            <input class="faq__check-hidden visually-hidden" type="checkbox" id="spoilers-check-5">
            <label class="faq__spoilers-button" for="spoilers-check-5">
              <span class="faq__spoilers-caption">Можно ли получить консультация врача – гематолога во время
                беременности</span>
              <div class="faq__spoilers-cross"></div>
            </label>
            <div class="faq__spoilers-content">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Aut praesentium magnam, accusamus repudiandae quos voluptas!
            </div>
          </div>
          <div class="faq__spoilers-item">
            <input class="faq__check-hidden visually-hidden" type="checkbox" id="spoilers-check-6">
            <label class="faq__spoilers-button" for="spoilers-check-6">
              <span class="faq__spoilers-caption">Как можно отменить уже оплаченную консультацию?</span>
              <div class="faq__spoilers-cross"></div>
            </label>
            <div class="faq__spoilers-content">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, vero?
            </div>
          </div>
        </div>
        <a class="faq__order-link order-link base-link" href="#appointment-form">
          <span class="order-link__caption">Записаться на консультацию</span>
        </a>
      </div>
      <div class="faq__aside">
        <div class="faq__aside-inner">
          <figure class="faq__aside-image base-figure">
            <img class="faq__aside-img" src="../../img/image/design/faq-graphic.png"
              alt="Изображение медицинской процедуры">
            <span class="faq__whatsup-ball whatsup-ball">
              <span class="whatsup-ball__inner">
                <svg class="whatsup-ball__icon" width="36" height="36">
                  <use href="img/icon/sprite.svg#whatsup-icon"></use>
                </svg>
              </span>
            </span>
            <span class="faq__phone-ball phone-ball">
              <svg class="phone-ball__icon" width="30" height="30">
                <use href="img/icon/sprite.svg#phone-icon"></use>
              </svg>
            </span>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="reviews" id="reviews-block">
    <div class="reviews__container base-container">
      <h2 class="reviews__title section-title__slider-block base-title">Отзывы пациентов</h2>
      <div class="reviews__slider swiper">
        <div class="reviews__slider-wrapper swiper-wrapper">
          <div class="reviews__slider-item swiper-slide">
            <div class="reviews__item-head">
              <figure class="reviews__item-image base-figure">
                <picture>
                  <source srcset="img/image/content/review-item-1.webp 1x, img/image/content/X2-review-item-1.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/review-item-1.png 1x, img/image/content/X2-review-item-1.png 2x"
                    class="reviews__item-img" alt="" loading="lazy">
                </picture>
              </figure>
              <span class="reviews__item-title">Елизавета Константинопольская</span>
            </div>
            <p class="reviews__item-body base-par">
              Мне очень понравилось как Татьяна Игоревна
              провела со мной консультацию. Было все подробно
              рассказано, и я, не имея медицинского образования,
              все понимала, что говорила мне врач.
              После консультации я получила документы и рекомендации.
              Я обязательно буду рекомендовать всем моим знакомым.
            </p>
          </div>
          <div class="reviews__slider-item swiper-slide">
            <div class="reviews__item-head">
              <figure class="reviews__item-image base-figure">
                <picture>
                  <source srcset="img/image/content/review-item-1.webp 1x, img/image/content/X2-review-item-1.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/review-item-1.png 1x, img/image/content/X2-review-item-1.png 2x"
                    class="reviews__item-img" alt="" loading="lazy">
                </picture>
              </figure>
              <span class="reviews__item-title">Елизавета Константинопольская</span>
            </div>
            <p class="reviews__item-body base-par">
              Мне очень понравилось как Татьяна Игоревна
              провела со мной консультацию. Было все подробно
              рассказано, и я, не имея медицинского образования,
              все понимала, что говорила мне врач.
              После консультации я получила документы и рекомендации.
              Я обязательно буду рекомендовать всем моим знакомым.
            </p>
          </div>
          <div class="reviews__slider-item swiper-slide">
            <div class="reviews__item-head">
              <figure class="reviews__item-image base-figure">
                <picture>
                  <source srcset="img/image/content/review-item-1.webp 1x, img/image/content/X2-review-item-1.webp 2x"
                    type="image/webp">
                  <img srcset="img/image/content/review-item-1.png 1x, img/image/content/X2-review-item-1.png 2x"
                    class="reviews__item-img" alt="" loading="lazy">
                </picture>
              </figure>
              <span class="reviews__item-title">Елизавета Константинопольская</span>
            </div>
            <p class="reviews__item-body base-par">
              Мне очень понравилось как Татьяна Игоревна
              провела со мной консультацию. Было все подробно
              рассказано, и я, не имея медицинского образования,
              все понимала, что говорила мне врач.
              После консультации я получила документы и рекомендации.
              Я обязательно буду рекомендовать всем моим знакомым.
            </p>
          </div>
        </div>
        <div class="reviews__slider-navigation">
          <div class="reviews__slider-button reviews__slider-button--prev swiper-button-prev">
            <svg class="reviews__slider-icon slider-icon" width="11" height="17">
              <use href="img/icon/sprite.svg#arrow-icon"></use>
            </svg>
          </div>
          <div class="reviews__slider-button reviews__slider-button--next swiper-button-next">
            <svg class="reviews__slider-icon slider-icon" width="11" height="17">
              <use href="img/icon/sprite.svg#arrow-icon"></use>
            </svg>
          </div>
        </div>
        <div class="reviews__slider-pagination swiper-pagination"></div>
      </div>
    </div>
  </section>

  <section class="questions">
    <div class="questions__container base-container">
      <div class="questions__main">
        <p class="questions__headline base-par">
          Если у вас остались вопросы,
          то вы можете написать администратору
          в Whatsapp
        </p>
        <a class="questions__whatsup-button whatsup-link base-link" href="https://wa.me/XXXXXXXXXXX" target="_blank"
          rel="noopener noreferrer">
          <svg class="whatsup-link__icon" width="19" height="19">
            <use href="../img/icon/sprite.svg#whatsup-icon"></use>
          </svg>
          <span class="whatsup-link__caption">Перейти в WhatsApp</span>
        </a>
      </div>
      <div class="questions__aside">
        <div class="questions__aside-inner">
          <figure class="questions__aside-image base-figure">
            <img class="questions__aside-img" src="../../img/image/design/questions-graphic.png"
              alt="Изображение медицинской процедуры">
          </figure>
        </div>
      </div>
      <span class="questions__whatsup-ball whatsup-ball">
        <span class="whatsup-ball__inner">
          <svg class="whatsup-ball__icon" width="36" height="36">
            <use href="img/icon/sprite.svg#whatsup-icon"></use>
          </svg>
        </span>
      </span>
      <span class="questions__phone-ball phone-ball">
        <svg class="phone-ball__icon" width="30" height="30">
          <use href="img/icon/sprite.svg#phone-icon"></use>
        </svg>
      </span>
    </div>
  </section>
</main>