<footer class="page-footer">
  <section class="footer-heading">
    <div class="footer-heading__container base-container">
      <figure class="footer-heading__logo-block logo-block base-figure">
        <img class="logo-block__img" src="../img/image/logo.svg" width="194" height="59" alt="Логотип с сердцем">
      </figure>
      <div class="footer-heading__desc">
        <span class="footer-heading__desc-top">Консультация врача<br> гематолога</span>
        <span class="footer-heading__desc-bottom">Кандидат медицинских наук</span>
      </div>
      <div class="footer-heading__info">
        <span class="footer-heading__info-top">Запись ведется в онлайн форме<br>
          по воскресеньям по WhatsApp</span>
        <a href="#" class="footer-heading__file-loader base-link">Файл о враче в формате *.pdf</a>
      </div>
    </div>
  </section>

  <section class="footer-underline">
    <a href="#" class="footer-underline__policy-link base-link">Политика конфиденциальности</a>
    <span class="footer-underline__copyright">Copyright © 2021</span>
    <a href="#" class="footer-underline__credits-link base-link">
      <span class="footer-underline__credits-caption">Разработано</span>
      <figure class="footer-underline__credits-image base-figure"></figure>
    </a>
  </section>
</footer>