@use "../mixins";

html {
	box-sizing: border-box;

	scroll-behavior: smooth;

	-webkit-tap-highlight-color: transparent;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;

	font-family: var(--font-family-default);

	margin: 0 auto;

	z-index: 1;
}

.body-container {
	position: relative;

	display: flex;
	flex-direction: column;

	width: 100%;
	min-height: 100vh;
	background-image: url('../img/image/design/bg.jpg');
	background-size: cover;
	overflow: hidden;

	margin: 0 auto;

	z-index: 1;
}

.swiper-pagination-bullet {

	transition: 0.1s;

	&:focus-visible {
		outline: solid var(--color-monza);
		outline-offset: 5px;

		transition: all 0.1s;
	}

}

.swiper-button-prev,
.swiper-button-next {
	cursor: pointer;

	transition: 0.1s;

	&:hover {
		background-color: var(--color-eastern-blue);

		transition: 0.1s;
	}

	&:active {
		background-color: var(--color-eastern-blue-2);

		transition: 0.1s;
	}

	&:focus-visible {
		outline: solid var(--color-monza);
		outline-offset: 5px;

		transition: all 0.1s;
	}

	&::after {
		content: "";
	}
}

.swiper-button-disabled {
	background: linear-gradient(133.16deg, rgba(154, 208, 255, 0.1065) 0%, rgba(111, 188, 255, 0.1005) 112.21%) !important;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07) !important;
	border-radius: 5px !important;
}

.swiper-button-disabled .slider-icon {
	fill: var(--color-scooter) !important;

	transition: fill 0.2s;
}

.slider-icon {
	transition: 0.2s;
}

.swiper-pagination {
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin: 0 auto;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: var(--color-scooter);
	cursor: pointer;

	transition: 0.2s;
}

.swiper-pagination-bullet-active {
	width: 40px;
	height: 10px;
	background-color: var(--color-monza);
	border-radius: 6px;

	transition: 0.2s;
}

.glightbox-mobile .goverlay {
	background: none;

	background-color: rgb(0, 0, 0, 0.6);
}

.whatsup-ball__icon {
	fill: var(--color-white);
}

.phone-ball__icon {
	fill: var(--color-scooter);
	stroke: var(--color-scooter);
	stroke-width: 1.5;
}

.whatsup-link__icon {
	fill: var(--color-white);
}

.check-icon {
	fill: none;
	stroke: var(--color-white);
	stroke-width: 2;
}

.appointment__button-icon {
	fill: none;
	stroke: var(--color-blue-dianne);
}

.slider-icon {
	fill: var(--color-white);
}

.footer-heading__file-icon {
	fill: var(--color-scooter);
}

.footer-underline__credits-icon {
	fill: var(--color-mid-gray);
}
