@use "../mixins";

html {
	box-sizing: border-box;

	scroll-behavior: smooth;

	-webkit-tap-highlight-color: transparent;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	position: relative;

	display: flex;
	flex-direction: column;

	min-height: 100vh;

	font-family: var(--font-family-default);

	margin: 0 auto;

	z-index: 1;
}

.swiper-pagination-bullet {

	transition: 0.1s;

	&:focus-visible {
		outline: solid var(--color-monza);
		outline-offset: 5px;

		transition: all 0.1s;
	}

}

.swiper-button-prev,
.swiper-button-next {
	cursor: pointer;

	transition: 0.1s;

	&:hover {
		background-color: var(--color-eastern-blue);

		transition: 0.1s;
	}

	&:active {
		background-color: var(--color-eastern-blue-2);

		transition: 0.1s;
	}

	&:focus-visible {
		outline: solid var(--color-monza);
		outline-offset: 5px;

		transition: all 0.1s;
	}

	&::after {
		content: "";
	}
}

.swiper-button-disabled {
	background: linear-gradient(133.16deg, rgba(154, 208, 255, 0.1065) 0%, rgba(111, 188, 255, 0.1005) 112.21%) !important;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.07) !important;
	border-radius: 5px !important;
}

.swiper-button-disabled .slider-icon {
	fill: var(--color-scooter) !important;

	transition: fill 0.2s;
}

.slider-icon {
	transition: 0.2s;
}

.swiper-pagination {
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin: 0 auto;
}

.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: var(--color-scooter);
	cursor: pointer;

	transition: 0.2s;
}

.swiper-pagination-bullet-active {
	width: 40px;
	height: 10px;
	background-color: var(--color-monza);
	border-radius: 6px;

	transition: 0.2s;
}

.glightbox-mobile .goverlay {
	background: none;

	background-color: rgb(0, 0, 0, 0.6);
}

.whatsup-ball__icon {
	fill: var(--color-white);
}

.phone-ball__icon {
	fill: var(--color-scooter);
	stroke: var(--color-scooter);
	stroke-width: 1.5;
}

.whatsup-link__icon {
	fill: var(--color-white);
}

.check-icon {
	fill: none;
	stroke: var(--color-white);
	stroke-width: 2;
}

.appointment__button-icon {
	fill: none;
	stroke: var(--color-blue-dianne);
}

.slider-icon {
	fill: var(--color-white);
}

.footer-heading__file-icon {
	fill: var(--color-scooter);
}

.footer-underline__credits-icon {
	fill: var(--color-mid-gray);
}

.body-gradient {
	position: absolute;

	border-radius: 50%;
	pointer-events: none;

	z-index: 1;

	@include mixins.respond-to(mobileOnly) {
		display: none;
	}

	@include mixins.respond-to(tablet) {
		display: none;
	}

	@include mixins.respond-to(desktopD) {
		display: block;
		
		width: 500px;
		height: 500px;
	}

	&--1 {
		top: 10%;
		right: 0;

		background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--2 {
		top: 0;
		right: 0;

		background: linear-gradient(180deg, #F1F9FF 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--3 {
		left: 0;
		top: -10%;

		background: linear-gradient(180deg, rgba(248, 193, 79, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--4 {
		right: 0;
		bottom: 65%;

		background: linear-gradient(180deg, rgba(255, 128, 230, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--5 {
		left: 10%;
		bottom: 60%;

		background: linear-gradient(180deg, rgba(248, 193, 79, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--6 {
		right: 0;
		bottom: 50%;

		background: linear-gradient(90.26deg, rgba(170, 128, 255, 0.7) 0.21%, rgba(160, 113, 255, 0.455) 97.38%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--7 {
		left: 0;
		bottom: 50%;

		background: #99D4ED;
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--8 {
		left: 50%;
		transform: translateX(-50%);
		bottom: 30%;

		background: #CDE9FF;
		opacity: 0.3;
		filter: blur(697.344px);
		transform: rotate(90deg);
	}

	&--9 {
		left: 0;
		bottom: 20%;

		background: linear-gradient(180deg, rgba(255, 128, 230, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--10 {
		left: 50%;
		transform: translateX(-50%);
		bottom: 15%;

		background: linear-gradient(180deg, rgba(248, 193, 79, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--11 {
		right: 0;
		bottom: 10%;

		background: #CDE9FF;
		opacity: 0.3;
		filter: blur(697.344px);
		transform: rotate(90deg);
	}

	&--12 {
		left: 0;
		bottom: 10%;

		background: linear-gradient(180deg, rgba(248, 193, 79, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--13 {
		right: 0;
		bottom: 0;

		background: linear-gradient(180deg, rgba(255, 128, 230, 0.5) 0%, rgba(255, 166, 237, 0) 100%);
		opacity: 0.3;
		filter: blur(444px);
		transform: rotate(90deg);
	}

	&--14 {
		left: 0;
		bottom: 0;

		background: #1DA1F2;
		opacity: 0.3;
		filter: blur(697.344px);
		transform: rotate(90deg);
	}
}