@use "../mixins";

html {
	box-sizing: border-box;

	scroll-behavior: smooth;
}

*,
:after,
:before {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;

	max-width: 1920px;
	min-height: 100vh;

	font-family: var(--font-family-default);

	margin: 0;
}

.swiper-button-prev {
	left: 0;

	transform: rotate(180deg);
}

.swiper-button-next {
	right: 0;
}

.swiper-button-prev,
.swiper-button-next {
	-webkit-tap-highlight-color: transparent;

	&::after {
		content: "";
	}
}

.swiper .swiper-pagination {
	bottom: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	margin: 0 auto;
}

.swiper .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	background-color: var(--color-scooter);

	transition: 0.2s;
}

.swiper .swiper-pagination-bullet-active {
	width: 40px;
	height: 10px;
	background-color: var(--color-monza);
	border-radius: 6px;

	transition: 0.2s;
}

.whatsup-ball__icon {
	fill: var(--color-white);
}

.phone-ball__icon {
	fill: var(--color-scooter);
	stroke: var(--color-scooter);
	stroke-width: 1.5;
}

.whatsup-link__icon {
	fill: var(--color-white);
}

.check-icon {
	fill: none;
	stroke: var(--color-white);
	stroke-width: 2;
}

.appointment__button-icon {
	fill: none;
	stroke: var(--color-blue-dianne);
}

.slider-icon {
	fill: var(--color-white);
}

.footer-heading__file-icon {
	fill: var(--color-scooter);
}

.footer-underline__credits-icon {
	fill: var(--color-mid-gray);
}