:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-monza: #d60d0d;
	--color-tangerine: #ff917b;
	--color-scooter: #29b7c1;
	--color-viking: #70d3db;
	--color-spindle: #B5cde9;
	--color-mine-shaft: #3e3e3e;
	--color-slate-gray: #6a748f;
	--color-shuttle-gray: #676a78;
	--color-ghost: #ccd1da;
	--color-mid-gray: #686972;

	// Шрифты
	--font-family-default: "Ubuntu", system-ui, sans-serif;
	--font-family-button: "Poppins", system-ui, sans-serif;
	--font-family-loader: "Roboto", system-ui, sans-serif;
	--font-family-footer: "PFDinDisplayPro", system-ui, sans-serif;
}