:root {
	// Цвета
	--color-white: #ffffff;
	--color-black: #000000;
	--color-monza: #d60d0d;
	--color-milano-red: #c00b0b;
	--color-totem-pole: #ab0a0a;
	--color-tangerine: #ff917b;
	--color-persimmon: #ff6457;
	--color-scooter: #29b7c1;
	--color-eastern-blue: #24a4ad;
	--color-eastern-blue-2: #20929a;
	--color-viking: #70d3db;
	--color-iceberg: #e2f2f6;
	--color-spindle: #B5cde9;
	--color-mine-shaft: #3e3e3e;
	--color-slate-gray: #6a748f;
	--color-shuttle-gray: #676a78;
	--color-ghost: #ccd1da;
	--color-mid-gray: #686972;
	--color-cod-gray: #1c1c1c;
	--color-san-juan: #2b3f6c;
	--color-catskill-white: #f7fafb;
	--color-gallery: #eeeeee;
	--color-mystic: #dbdee9;
	--color-blue-dianne: #254a63;
	--color-bombay: #b2b4bd;
	--color-selago: #e8f4fc;

	// Шрифты
	--font-family-default: "Ubuntu", system-ui, sans-serif;
	--font-family-button: "Poppins", system-ui, sans-serif;
	--font-family-loader: "Roboto", system-ui, sans-serif;
	--font-family-date: "Gilroy", system-ui, sans-serif;
	--font-family-footer: "PFDinDisplayPro", system-ui, sans-serif;
}